=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class BlacklistApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add contact to blacklist
    # Through this method, it is possible to add the contact on the disallowed list (blacklist). This will restrict the specified numbers to certain interactions with your account
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def blacklist_add(contact_id, opts = {})
      data, _status_code, _headers = blacklist_add_with_http_info(contact_id, opts)
      data
    end

    # Add contact to blacklist
    # Through this method, it is possible to add the contact on the disallowed list (blacklist). This will restrict the specified numbers to certain interactions with your account
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def blacklist_add_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlacklistApi.blacklist_add ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling BlacklistApi.blacklist_add"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling BlacklistApi.blacklist_add, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/blacklist/{ContactID}'.sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BlacklistApi.blacklist_add",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlacklistApi#blacklist_add\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove contact from blacklist
    # Through this method, it is possible to remove the contact on the disallowed list (blacklist)
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def blacklist_remove(contact_id, opts = {})
      data, _status_code, _headers = blacklist_remove_with_http_info(contact_id, opts)
      data
    end

    # Remove contact from blacklist
    # Through this method, it is possible to remove the contact on the disallowed list (blacklist)
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def blacklist_remove_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlacklistApi.blacklist_remove ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling BlacklistApi.blacklist_remove"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling BlacklistApi.blacklist_remove, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/blacklist/{ContactID}'.sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BlacklistApi.blacklist_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlacklistApi#blacklist_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
