=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class BusinessApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create collection
    # Create business collection
    # @param business_collection_create [BusinessCollectionCreate] Business collection parameters
    # @param [Hash] opts the optional parameters
    # @return [BusinessCollectionEditResult]
    def create_collection(business_collection_create, opts = {})
      data, _status_code, _headers = create_collection_with_http_info(business_collection_create, opts)
      data
    end

    # Create collection
    # Create business collection
    # @param business_collection_create [BusinessCollectionCreate] Business collection parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessCollectionEditResult, Integer, Hash)>] BusinessCollectionEditResult data, response status code and response headers
    def create_collection_with_http_info(business_collection_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.create_collection ...'
      end
      # verify the required parameter 'business_collection_create' is set
      if @api_client.config.client_side_validation && business_collection_create.nil?
        fail ArgumentError, "Missing the required parameter 'business_collection_create' when calling BusinessApi.create_collection"
      end
      # resource path
      local_var_path = '/business/collections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_collection_create)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessCollectionEditResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.create_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#create_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create product
    # In this method you will be able to register a product in your catalog
    # @param [Hash] opts the optional parameters
    # @option opts [ProductCreate] :product_create Request body
    # @return [Product]
    def create_product(opts = {})
      data, _status_code, _headers = create_product_with_http_info(opts)
      data
    end

    # Create product
    # In this method you will be able to register a product in your catalog
    # @param [Hash] opts the optional parameters
    # @option opts [ProductCreate] :product_create Request body
    # @return [Array<(Product, Integer, Hash)>] Product data, response status code and response headers
    def create_product_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.create_product ...'
      end
      # resource path
      local_var_path = '/business/products'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'product_create'])

      # return_type
      return_type = opts[:debug_return_type] || 'Product'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.create_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#create_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete collection
    # Method to delete business collection
    # @param collection_id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def delete_collection(collection_id, opts = {})
      data, _status_code, _headers = delete_collection_with_http_info(collection_id, opts)
      data
    end

    # Delete collection
    # Method to delete business collection
    # @param collection_id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def delete_collection_with_http_info(collection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.delete_collection ...'
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling BusinessApi.delete_collection"
      end
      # resource path
      local_var_path = '/business/collections/{CollectionID}'.sub('{' + 'CollectionID' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.delete_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#delete_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete product
    # In this method you will be able to delete a product by its ID
    # @param product_id [String] Product ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def delete_product(product_id, opts = {})
      data, _status_code, _headers = delete_product_with_http_info(product_id, opts)
      data
    end

    # Delete product
    # In this method you will be able to delete a product by its ID
    # @param product_id [String] Product ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def delete_product_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.delete_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling BusinessApi.delete_product"
      end
      pattern = Regexp.new(/^([\d]{10,18})?$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling BusinessApi.delete_product, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/business/products/{ProductID}'.sub('{' + 'ProductID' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.delete_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#delete_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit your Business Profile
    # The method allows you to edit information of your WhatsApp Business profile
    # @param [Hash] opts the optional parameters
    # @option opts [BusinessProfileCustom] :business_profile_custom Request body
    # @return [ResponseSuccess]
    def edit_business_profile(opts = {})
      data, _status_code, _headers = edit_business_profile_with_http_info(opts)
      data
    end

    # Edit your Business Profile
    # The method allows you to edit information of your WhatsApp Business profile
    # @param [Hash] opts the optional parameters
    # @option opts [BusinessProfileCustom] :business_profile_custom Request body
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def edit_business_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.edit_business_profile ...'
      end
      # resource path
      local_var_path = '/business'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'business_profile_custom'])

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.edit_business_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#edit_business_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit collection
    # With this method you will be able to edit business collection
    # @param collection_id [String] Collection ID
    # @param business_collection_edit [BusinessCollectionEdit] Business collection edit parameters
    # @param [Hash] opts the optional parameters
    # @return [BusinessCollectionEditResult]
    def edit_collection(collection_id, business_collection_edit, opts = {})
      data, _status_code, _headers = edit_collection_with_http_info(collection_id, business_collection_edit, opts)
      data
    end

    # Edit collection
    # With this method you will be able to edit business collection
    # @param collection_id [String] Collection ID
    # @param business_collection_edit [BusinessCollectionEdit] Business collection edit parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessCollectionEditResult, Integer, Hash)>] BusinessCollectionEditResult data, response status code and response headers
    def edit_collection_with_http_info(collection_id, business_collection_edit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.edit_collection ...'
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling BusinessApi.edit_collection"
      end
      # verify the required parameter 'business_collection_edit' is set
      if @api_client.config.client_side_validation && business_collection_edit.nil?
        fail ArgumentError, "Missing the required parameter 'business_collection_edit' when calling BusinessApi.edit_collection"
      end
      # resource path
      local_var_path = '/business/collections/{CollectionID}'.sub('{' + 'CollectionID' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_collection_edit)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessCollectionEditResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.edit_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#edit_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business profile
    # The method allows you to get information about your WhatsApp Business profile
    # @param [Hash] opts the optional parameters
    # @return [BusinessProfile]
    def get_business_profile(opts = {})
      data, _status_code, _headers = get_business_profile_with_http_info(opts)
      data
    end

    # Get business profile
    # The method allows you to get information about your WhatsApp Business profile
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessProfile, Integer, Hash)>] BusinessProfile data, response status code and response headers
    def get_business_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.get_business_profile ...'
      end
      # resource path
      local_var_path = '/business'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.get_business_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#get_business_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get collection
    # With this method you will be able to get business collection
    # @param collection_id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [BusinessCollection]
    def get_collection(collection_id, opts = {})
      data, _status_code, _headers = get_collection_with_http_info(collection_id, opts)
      data
    end

    # Get collection
    # With this method you will be able to get business collection
    # @param collection_id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessCollection, Integer, Hash)>] BusinessCollection data, response status code and response headers
    def get_collection_with_http_info(collection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.get_collection ...'
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling BusinessApi.get_collection"
      end
      # resource path
      local_var_path = '/business/collections/{CollectionID}'.sub('{' + 'CollectionID' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessCollection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.get_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#get_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get collections
    # With this method you will be able to get the collections list from a Whatsapp Business catalog
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [BusinessCollectionList]
    def get_collections_list(opts = {})
      data, _status_code, _headers = get_collections_list_with_http_info(opts)
      data
    end

    # Get collections
    # With this method you will be able to get the collections list from a Whatsapp Business catalog
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(BusinessCollectionList, Integer, Hash)>] BusinessCollectionList data, response status code and response headers
    def get_collections_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.get_collections_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BusinessApi.get_collections_list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BusinessApi.get_collections_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling BusinessApi.get_collections_list, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/business/collections'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessCollectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.get_collections_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#get_collections_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get products by Contact ID
    # This method allows you to get the catalog and products by [Chat ID](https://support.whapi.cloud/help-desk/faq/chat-id.-what-is-it-and-how-to-get-it), even if it is not in your contact list
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [ProductsList]
    def get_contact_products(contact_id, opts = {})
      data, _status_code, _headers = get_contact_products_with_http_info(contact_id, opts)
      data
    end

    # Get products by Contact ID
    # This method allows you to get the catalog and products by [Chat ID](https://support.whapi.cloud/help-desk/faq/chat-id.-what-is-it-and-how-to-get-it), even if it is not in your contact list
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(ProductsList, Integer, Hash)>] ProductsList data, response status code and response headers
    def get_contact_products_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.get_contact_products ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling BusinessApi.get_contact_products"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling BusinessApi.get_contact_products, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BusinessApi.get_contact_products, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BusinessApi.get_contact_products, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling BusinessApi.get_contact_products, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/business/{ContactID}/products'.sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.get_contact_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#get_contact_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get order items
    # The method allows you to get information about the items in the shopping cart sent to you in messages. Note! Use the token as a Query (as in a get request). [More details in the knowledge base](https://support.whapi.cloud/help-desk/receiving/http-api/get-order-items)
    # @param order_id [String] Order ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_token Base64 token from order for receiving information
    # @return [OrderItems]
    def get_order_items(order_id, opts = {})
      data, _status_code, _headers = get_order_items_with_http_info(order_id, opts)
      data
    end

    # Get order items
    # The method allows you to get information about the items in the shopping cart sent to you in messages. Note! Use the token as a Query (as in a get request). [More details in the knowledge base](https://support.whapi.cloud/help-desk/receiving/http-api/get-order-items)
    # @param order_id [String] Order ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_token Base64 token from order for receiving information
    # @return [Array<(OrderItems, Integer, Hash)>] OrderItems data, response status code and response headers
    def get_order_items_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.get_order_items ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling BusinessApi.get_order_items"
      end
      pattern = Regexp.new(/^([\d]{10,18})?$/)
      if @api_client.config.client_side_validation && order_id !~ pattern
        fail ArgumentError, "invalid value for 'order_id' when calling BusinessApi.get_order_items, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/business/orders/{OrderID}'.sub('{' + 'OrderID' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'order_token'] = opts[:'order_token'] if !opts[:'order_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderItems'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.get_order_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#get_order_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product
    # In this method you will be able to get your product by its ID
    # @param product_id [String] Product ID
    # @param [Hash] opts the optional parameters
    # @return [Product]
    def get_product(product_id, opts = {})
      data, _status_code, _headers = get_product_with_http_info(product_id, opts)
      data
    end

    # Get product
    # In this method you will be able to get your product by its ID
    # @param product_id [String] Product ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Product, Integer, Hash)>] Product data, response status code and response headers
    def get_product_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.get_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling BusinessApi.get_product"
      end
      pattern = Regexp.new(/^([\d]{10,18})?$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling BusinessApi.get_product, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/business/products/{ProductID}'.sub('{' + 'ProductID' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Product'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.get_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#get_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get products
    # With this method you will be able to get the products from a Whatsapp Business catalog
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [ProductsList]
    def get_products(opts = {})
      data, _status_code, _headers = get_products_with_http_info(opts)
      data
    end

    # Get products
    # With this method you will be able to get the products from a Whatsapp Business catalog
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(ProductsList, Integer, Hash)>] ProductsList data, response status code and response headers
    def get_products_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.get_products ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BusinessApi.get_products, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling BusinessApi.get_products, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling BusinessApi.get_products, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/business/products'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.get_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#get_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send catalog by Contact ID (phone number)
    # @param contact_id [String] Contact ID
    # @param sender_catalog_by_id [SenderCatalogByID] Message catalog
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_catalog(contact_id, sender_catalog_by_id, opts = {})
      data, _status_code, _headers = send_catalog_with_http_info(contact_id, sender_catalog_by_id, opts)
      data
    end

    # Send catalog by Contact ID (phone number)
    # @param contact_id [String] Contact ID
    # @param sender_catalog_by_id [SenderCatalogByID] Message catalog
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_catalog_with_http_info(contact_id, sender_catalog_by_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.send_catalog ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling BusinessApi.send_catalog"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling BusinessApi.send_catalog, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'sender_catalog_by_id' is set
      if @api_client.config.client_side_validation && sender_catalog_by_id.nil?
        fail ArgumentError, "Missing the required parameter 'sender_catalog_by_id' when calling BusinessApi.send_catalog"
      end
      # resource path
      local_var_path = '/business/catalogs/{ContactID}'.sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_catalog_by_id)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.send_catalog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#send_catalog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send product
    # The method is for sending an item from your catalog
    # @param product_id [String] Product ID
    # @param sender_product_from_catalog [SenderProductFromCatalog] Message product
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_product(product_id, sender_product_from_catalog, opts = {})
      data, _status_code, _headers = send_product_with_http_info(product_id, sender_product_from_catalog, opts)
      data
    end

    # Send product
    # The method is for sending an item from your catalog
    # @param product_id [String] Product ID
    # @param sender_product_from_catalog [SenderProductFromCatalog] Message product
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_product_with_http_info(product_id, sender_product_from_catalog, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.send_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling BusinessApi.send_product"
      end
      pattern = Regexp.new(/^([\d]{10,18})?$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling BusinessApi.send_product, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'sender_product_from_catalog' is set
      if @api_client.config.client_side_validation && sender_product_from_catalog.nil?
        fail ArgumentError, "Missing the required parameter 'sender_product_from_catalog' when calling BusinessApi.send_product"
      end
      # resource path
      local_var_path = '/business/products/{ProductID}'.sub('{' + 'ProductID' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_product_from_catalog)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.send_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#send_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update product
    # The *images* field is required and must contain all images
    # @param product_id [String] Product ID
    # @param product_edit [ProductEdit] Message product
    # @param [Hash] opts the optional parameters
    # @return [Product]
    def update_product(product_id, product_edit, opts = {})
      data, _status_code, _headers = update_product_with_http_info(product_id, product_edit, opts)
      data
    end

    # Update product
    # The *images* field is required and must contain all images
    # @param product_id [String] Product ID
    # @param product_edit [ProductEdit] Message product
    # @param [Hash] opts the optional parameters
    # @return [Array<(Product, Integer, Hash)>] Product data, response status code and response headers
    def update_product_with_http_info(product_id, product_edit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessApi.update_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling BusinessApi.update_product"
      end
      pattern = Regexp.new(/^([\d]{10,18})?$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling BusinessApi.update_product, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'product_edit' is set
      if @api_client.config.client_side_validation && product_edit.nil?
        fail ArgumentError, "Missing the required parameter 'product_edit' when calling BusinessApi.update_product"
      end
      # resource path
      local_var_path = '/business/products/{ProductID}'.sub('{' + 'ProductID' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_edit)

      # return_type
      return_type = opts[:debug_return_type] || 'Product'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessApi.update_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessApi#update_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
