=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class CallsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create call event
    # This method is responsible for creating a call event.
    # @param create_call_event_request [CreateCallEventRequest] Call data
    # @param [Hash] opts the optional parameters
    # @return [CreateCallEventResponse]
    def create_call_event(create_call_event_request, opts = {})
      data, _status_code, _headers = create_call_event_with_http_info(create_call_event_request, opts)
      data
    end

    # Create call event
    # This method is responsible for creating a call event.
    # @param create_call_event_request [CreateCallEventRequest] Call data
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCallEventResponse, Integer, Hash)>] CreateCallEventResponse data, response status code and response headers
    def create_call_event_with_http_info(create_call_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallsApi.create_call_event ...'
      end
      # verify the required parameter 'create_call_event_request' is set
      if @api_client.config.client_side_validation && create_call_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_call_event_request' when calling CallsApi.create_call_event"
      end
      # resource path
      local_var_path = '/calls'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_call_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCallEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallsApi.create_call_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallsApi#create_call_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reject call
    # This method is responsible for reject call.
    # @param call_id [String] Call ID
    # @param reject_call_request [RejectCallRequest] Reject call data
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def reject_call(call_id, reject_call_request, opts = {})
      data, _status_code, _headers = reject_call_with_http_info(call_id, reject_call_request, opts)
      data
    end

    # Reject call
    # This method is responsible for reject call.
    # @param call_id [String] Call ID
    # @param reject_call_request [RejectCallRequest] Reject call data
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def reject_call_with_http_info(call_id, reject_call_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallsApi.reject_call ...'
      end
      # verify the required parameter 'call_id' is set
      if @api_client.config.client_side_validation && call_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_id' when calling CallsApi.reject_call"
      end
      # verify the required parameter 'reject_call_request' is set
      if @api_client.config.client_side_validation && reject_call_request.nil?
        fail ArgumentError, "Missing the required parameter 'reject_call_request' when calling CallsApi.reject_call"
      end
      # resource path
      local_var_path = '/calls/{CallID}/reject'.sub('{' + 'CallID' + '}', CGI.escape(call_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reject_call_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CallsApi.reject_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallsApi#reject_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
