=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class ChannelApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check health & launch channel
    # Allows you to track and get feedback on the operational status of the whapi channel (instance). An instance is a connection with a phone number that has a WhatsApp account, which will be responsible for sending and receiving messages
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wakeup If set to false, the channel will not launch (default to true)
    # @option opts [String] :platform Browser name, OS name, OS version separated by commas. Example: &#39;Safari,Windows,10.0.19044&#39; or &#39;Desktop,Mac OS,11.6.3&#39;
    # @option opts [String] :channel_type Channel type. Web - for linking existing WA account via WA Web, Mobile - for creating new WA account (default to 'web')
    # @return [Health]
    def check_health(opts = {})
      data, _status_code, _headers = check_health_with_http_info(opts)
      data
    end

    # Check health &amp; launch channel
    # Allows you to track and get feedback on the operational status of the whapi channel (instance). An instance is a connection with a phone number that has a WhatsApp account, which will be responsible for sending and receiving messages
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wakeup If set to false, the channel will not launch (default to true)
    # @option opts [String] :platform Browser name, OS name, OS version separated by commas. Example: &#39;Safari,Windows,10.0.19044&#39; or &#39;Desktop,Mac OS,11.6.3&#39;
    # @option opts [String] :channel_type Channel type. Web - for linking existing WA account via WA Web, Mobile - for creating new WA account (default to 'web')
    # @return [Array<(Health, Integer, Hash)>] Health data, response status code and response headers
    def check_health_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.check_health ...'
      end
      allowable_values = ["web", "mobile"]
      if @api_client.config.client_side_validation && opts[:'channel_type'] && !allowable_values.include?(opts[:'channel_type'])
        fail ArgumentError, "invalid value for \"channel_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/health'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wakeup'] = opts[:'wakeup'] if !opts[:'wakeup'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'channel_type'] = opts[:'channel_type'] if !opts[:'channel_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Health'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.check_health",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#check_health\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get allowed events
    # Get a list of specific events that you can be notified about when Webhook is configured
    # @param [Hash] opts the optional parameters
    # @return [Array<Event>]
    def get_allowed_events(opts = {})
      data, _status_code, _headers = get_allowed_events_with_http_info(opts)
      data
    end

    # Get allowed events
    # Get a list of specific events that you can be notified about when Webhook is configured
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Event>, Integer, Hash)>] Array<Event> data, response status code and response headers
    def get_allowed_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.get_allowed_events ...'
      end
      # resource path
      local_var_path = '/settings/events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Event>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.get_allowed_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#get_allowed_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get channel settings
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body OK
    # @return [Settings]
    def get_channel_settings(opts = {})
      data, _status_code, _headers = get_channel_settings_with_http_info(opts)
      data
    end

    # Get channel settings
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body OK
    # @return [Array<(Settings, Integer, Hash)>] Settings data, response status code and response headers
    def get_channel_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.get_channel_settings ...'
      end
      # resource path
      local_var_path = '/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Settings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.get_channel_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#get_channel_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get limits
    # Sandbox as well as Trials have some limitations. This endpoint allows you to get information about the remaining and used limits on your channel
    # @param [Hash] opts the optional parameters
    # @return [Limits]
    def get_limits(opts = {})
      data, _status_code, _headers = get_limits_with_http_info(opts)
      data
    end

    # Get limits
    # Sandbox as well as Trials have some limitations. This endpoint allows you to get information about the remaining and used limits on your channel
    # @param [Hash] opts the optional parameters
    # @return [Array<(Limits, Integer, Hash)>] Limits data, response status code and response headers
    def get_limits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.get_limits ...'
      end
      # resource path
      local_var_path = '/limits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Limits'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.get_limits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#get_limits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset channel settings
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def reset_channel_settings(opts = {})
      data, _status_code, _headers = reset_channel_settings_with_http_info(opts)
      data
    end

    # Reset channel settings
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def reset_channel_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.reset_channel_settings ...'
      end
      # resource path
      local_var_path = '/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.reset_channel_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#reset_channel_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update channel settings
    # If a field is not present in the request, no change is made to that setting. For example, if 'proxy' is not sent with the request, the existing configuration for 'proxy' is unchanged.
    # @param [Hash] opts the optional parameters
    # @option opts [Settings] :settings New settings
    # @return [UpdateSettings]
    def update_channel_settings(opts = {})
      data, _status_code, _headers = update_channel_settings_with_http_info(opts)
      data
    end

    # Update channel settings
    # If a field is not present in the request, no change is made to that setting. For example, if &#39;proxy&#39; is not sent with the request, the existing configuration for &#39;proxy&#39; is unchanged.
    # @param [Hash] opts the optional parameters
    # @option opts [Settings] :settings New settings
    # @return [Array<(UpdateSettings, Integer, Hash)>] UpdateSettings data, response status code and response headers
    def update_channel_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.update_channel_settings ...'
      end
      # resource path
      local_var_path = '/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'settings'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.update_channel_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#update_channel_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test webhook
    # For testing webhook.
    # @param [Hash] opts the optional parameters
    # @option opts [WebhookTestRequest] :webhook_test_request Options for webhook test
    # @return [ResponseSuccess]
    def webhook_test(opts = {})
      data, _status_code, _headers = webhook_test_with_http_info(opts)
      data
    end

    # Test webhook
    # For testing webhook.
    # @param [Hash] opts the optional parameters
    # @option opts [WebhookTestRequest] :webhook_test_request Options for webhook test
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def webhook_test_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChannelApi.webhook_test ...'
      end
      # resource path
      local_var_path = '/settings/webhook_test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'webhook_test_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChannelApi.webhook_test",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelApi#webhook_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
