=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class ChatsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 🗄 Archive/Unarchive chat
    # This method is responsible for archiving or unarchiving chats
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @option opts [ArchiveChatRequest] :archive_chat_request Request body
    # @return [ResponseSuccess]
    def archive_chat(chat_id, opts = {})
      data, _status_code, _headers = archive_chat_with_http_info(chat_id, opts)
      data
    end

    # 🗄 Archive/Unarchive chat
    # This method is responsible for archiving or unarchiving chats
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @option opts [ArchiveChatRequest] :archive_chat_request Request body
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def archive_chat_with_http_info(chat_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatsApi.archive_chat ...'
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatsApi.archive_chat"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@[\w\.]{1,}$/)
      if @api_client.config.client_side_validation && chat_id !~ pattern
        fail ArgumentError, "invalid value for 'chat_id' when calling ChatsApi.archive_chat, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/chats/{ChatID}'.sub('{' + 'ChatID' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'archive_chat_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChatsApi.archive_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatsApi#archive_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ❌ Delete chat
    # This method is responsible for deleting chats
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def delete_chat(chat_id, opts = {})
      data, _status_code, _headers = delete_chat_with_http_info(chat_id, opts)
      data
    end

    # ❌ Delete chat
    # This method is responsible for deleting chats
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def delete_chat_with_http_info(chat_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatsApi.delete_chat ...'
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatsApi.delete_chat"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@[\w\.]{1,}$/)
      if @api_client.config.client_side_validation && chat_id !~ pattern
        fail ArgumentError, "invalid value for 'chat_id' when calling ChatsApi.delete_chat, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/chats/{ChatID}'.sub('{' + 'ChatID' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChatsApi.delete_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatsApi#delete_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get chat
    # This method is responsible for returning the metadata of a chat. Read more about [Chat ID](https://support.whapi.cloud/help-desk/faq/chat-id.-what-is-it-and-how-to-get-it)
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @return [Chat]
    def get_chat(chat_id, opts = {})
      data, _status_code, _headers = get_chat_with_http_info(chat_id, opts)
      data
    end

    # Get chat
    # This method is responsible for returning the metadata of a chat. Read more about [Chat ID](https://support.whapi.cloud/help-desk/faq/chat-id.-what-is-it-and-how-to-get-it)
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Chat, Integer, Hash)>] Chat data, response status code and response headers
    def get_chat_with_http_info(chat_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatsApi.get_chat ...'
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatsApi.get_chat"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@[\w\.]{1,}$/)
      if @api_client.config.client_side_validation && chat_id !~ pattern
        fail ArgumentError, "invalid value for 'chat_id' when calling ChatsApi.get_chat, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/chats/{ChatID}'.sub('{' + 'ChatID' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Chat'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChatsApi.get_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatsApi#get_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get chats
    # This method is responsible for returning all of your chats. If you need to get a profile pic of your contacts or chats, [refer to these instructions](https://support.whapi.cloud/help-desk/receiving/http-api/get-a-profile-picture-of-a-chat-or-user).
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [ChatsList]
    def get_chats(opts = {})
      data, _status_code, _headers = get_chats_with_http_info(opts)
      data
    end

    # Get chats
    # This method is responsible for returning all of your chats. If you need to get a profile pic of your contacts or chats, [refer to these instructions](https://support.whapi.cloud/help-desk/receiving/http-api/get-a-profile-picture-of-a-chat-or-user).
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(ChatsList, Integer, Hash)>] ChatsList data, response status code and response headers
    def get_chats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatsApi.get_chats ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling ChatsApi.get_chats, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling ChatsApi.get_chats, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ChatsApi.get_chats, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/chats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChatsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChatsApi.get_chats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatsApi#get_chats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ⚙️Chat Settings Management: Pin, Mute, Read, Disappearing.
    # This method is responsible for pinning and unpinning, for muting and unmuting your chats. Also this method is responsible for performing the action of reading an entire chat or marking a chat as unread
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @option opts [PatchChatRequest] :patch_chat_request Request body
    # @return [ResponseSuccess]
    def patch_chat(chat_id, opts = {})
      data, _status_code, _headers = patch_chat_with_http_info(chat_id, opts)
      data
    end

    # ⚙️Chat Settings Management: Pin, Mute, Read, Disappearing.
    # This method is responsible for pinning and unpinning, for muting and unmuting your chats. Also this method is responsible for performing the action of reading an entire chat or marking a chat as unread
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @option opts [PatchChatRequest] :patch_chat_request Request body
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def patch_chat_with_http_info(chat_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatsApi.patch_chat ...'
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatsApi.patch_chat"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@[\w\.]{1,}$/)
      if @api_client.config.client_side_validation && chat_id !~ pattern
        fail ArgumentError, "invalid value for 'chat_id' when calling ChatsApi.patch_chat, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/chats/{ChatID}'.sub('{' + 'ChatID' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_chat_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ChatsApi.patch_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatsApi#patch_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
