=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class CommunitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add participants to community
    # This method is responsible for add participants community.
    # @param community_id [String] Community ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseListParticipants]
    def add_community_participant(community_id, list_participants_request, opts = {})
      data, _status_code, _headers = add_community_participant_with_http_info(community_id, list_participants_request, opts)
      data
    end

    # Add participants to community
    # This method is responsible for add participants community.
    # @param community_id [String] Community ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseListParticipants, Integer, Hash)>] ResponseListParticipants data, response status code and response headers
    def add_community_participant_with_http_info(community_id, list_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.add_community_participant ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.add_community_participant"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.add_community_participant, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'list_participants_request' is set
      if @api_client.config.client_side_validation && list_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_participants_request' when calling CommunitiesApi.add_community_participant"
      end
      # resource path
      local_var_path = '/communities/{CommunityID}/participants'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseListParticipants'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.add_community_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#add_community_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change community settings
    # This method is responsible for change a community settings.
    # @param community_id [String] Community ID
    # @param change_community_settings_request [ChangeCommunitySettingsRequest] Community change settings data
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def change_community_settings(community_id, change_community_settings_request, opts = {})
      data, _status_code, _headers = change_community_settings_with_http_info(community_id, change_community_settings_request, opts)
      data
    end

    # Change community settings
    # This method is responsible for change a community settings.
    # @param community_id [String] Community ID
    # @param change_community_settings_request [ChangeCommunitySettingsRequest] Community change settings data
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def change_community_settings_with_http_info(community_id, change_community_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.change_community_settings ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.change_community_settings"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.change_community_settings, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'change_community_settings_request' is set
      if @api_client.config.client_side_validation && change_community_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'change_community_settings_request' when calling CommunitiesApi.change_community_settings"
      end
      # resource path
      local_var_path = '/communities/{CommunityID}/settings'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_community_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.change_community_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#change_community_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create community
    # This method is responsible for creating a community. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param create_community_request [CreateCommunityRequest] Community data
    # @param [Hash] opts the optional parameters
    # @return [Group]
    def create_community(create_community_request, opts = {})
      data, _status_code, _headers = create_community_with_http_info(create_community_request, opts)
      data
    end

    # Create community
    # This method is responsible for creating a community. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param create_community_request [CreateCommunityRequest] Community data
    # @param [Hash] opts the optional parameters
    # @return [Array<(Group, Integer, Hash)>] Group data, response status code and response headers
    def create_community_with_http_info(create_community_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.create_community ...'
      end
      # verify the required parameter 'create_community_request' is set
      if @api_client.config.client_side_validation && create_community_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_community_request' when calling CommunitiesApi.create_community"
      end
      # resource path
      local_var_path = '/communities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_community_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Group'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.create_community",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#create_community\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create group in community
    # This method is responsible for creating a group in community. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param community_id [String] Community ID
    # @param create_group_in_community_request [CreateGroupInCommunityRequest] Group data
    # @param [Hash] opts the optional parameters
    # @return [Group]
    def create_group_in_community(community_id, create_group_in_community_request, opts = {})
      data, _status_code, _headers = create_group_in_community_with_http_info(community_id, create_group_in_community_request, opts)
      data
    end

    # Create group in community
    # This method is responsible for creating a group in community. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param community_id [String] Community ID
    # @param create_group_in_community_request [CreateGroupInCommunityRequest] Group data
    # @param [Hash] opts the optional parameters
    # @return [Array<(Group, Integer, Hash)>] Group data, response status code and response headers
    def create_group_in_community_with_http_info(community_id, create_group_in_community_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.create_group_in_community ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.create_group_in_community"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.create_group_in_community, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_group_in_community_request' is set
      if @api_client.config.client_side_validation && create_group_in_community_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_group_in_community_request' when calling CommunitiesApi.create_group_in_community"
      end
      # resource path
      local_var_path = '/communities/{CommunityID}/createGroup'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_group_in_community_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Group'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.create_group_in_community",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#create_group_in_community\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate community
    # This method is responsible for deactivate community.
    # @param community_id [String] Community ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def deactivate_community(community_id, opts = {})
      data, _status_code, _headers = deactivate_community_with_http_info(community_id, opts)
      data
    end

    # Deactivate community
    # This method is responsible for deactivate community.
    # @param community_id [String] Community ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def deactivate_community_with_http_info(community_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.deactivate_community ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.deactivate_community"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.deactivate_community, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/communities/{CommunityID}'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.deactivate_community",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#deactivate_community\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Demote participants to admin in community
    # This method is responsible for demote participants to admin in community.
    # @param community_id [String] Community ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseListParticipants]
    def demote_community_participant(community_id, list_participants_request, opts = {})
      data, _status_code, _headers = demote_community_participant_with_http_info(community_id, list_participants_request, opts)
      data
    end

    # Demote participants to admin in community
    # This method is responsible for demote participants to admin in community.
    # @param community_id [String] Community ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseListParticipants, Integer, Hash)>] ResponseListParticipants data, response status code and response headers
    def demote_community_participant_with_http_info(community_id, list_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.demote_community_participant ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.demote_community_participant"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.demote_community_participant, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'list_participants_request' is set
      if @api_client.config.client_side_validation && list_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_participants_request' when calling CommunitiesApi.demote_community_participant"
      end
      # resource path
      local_var_path = '/communities/{CommunityID}/admins'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseListParticipants'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.demote_community_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#demote_community_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get communities
    # This method is responsible for get a communities. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [GroupsList]
    def get_communities(opts = {})
      data, _status_code, _headers = get_communities_with_http_info(opts)
      data
    end

    # Get communities
    # This method is responsible for get a communities. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(GroupsList, Integer, Hash)>] GroupsList data, response status code and response headers
    def get_communities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.get_communities ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling CommunitiesApi.get_communities, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling CommunitiesApi.get_communities, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CommunitiesApi.get_communities, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/communities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.get_communities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#get_communities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get community
    # This method is responsible for get a community. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param community_id [String] Community ID
    # @param [Hash] opts the optional parameters
    # @return [Group]
    def get_community(community_id, opts = {})
      data, _status_code, _headers = get_community_with_http_info(community_id, opts)
      data
    end

    # Get community
    # This method is responsible for get a community. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param community_id [String] Community ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Group, Integer, Hash)>] Group data, response status code and response headers
    def get_community_with_http_info(community_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.get_community ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.get_community"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.get_community, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/communities/{CommunityID}'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Group'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.get_community",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#get_community\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get community subgroups
    # This method is responsible for get a community subgroups. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param community_id [String] Community ID
    # @param [Hash] opts the optional parameters
    # @return [CommunitySubGroups]
    def get_community_sub_groups(community_id, opts = {})
      data, _status_code, _headers = get_community_sub_groups_with_http_info(community_id, opts)
      data
    end

    # Get community subgroups
    # This method is responsible for get a community subgroups. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param community_id [String] Community ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommunitySubGroups, Integer, Hash)>] CommunitySubGroups data, response status code and response headers
    def get_community_sub_groups_with_http_info(community_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.get_community_sub_groups ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.get_community_sub_groups"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.get_community_sub_groups, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/communities/{CommunityID}/subGroups'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommunitySubGroups'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.get_community_sub_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#get_community_sub_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Join in community group
    # This method is responsible for join in community group. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param community_id [String] Community ID
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def join_in_community_group(community_id, group_id, opts = {})
      data, _status_code, _headers = join_in_community_group_with_http_info(community_id, group_id, opts)
      data
    end

    # Join in community group
    # This method is responsible for join in community group. [Learn more about the nuances of community:](https://support.whapi.cloud/help-desk/communities/introduction)
    # @param community_id [String] Community ID
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def join_in_community_group_with_http_info(community_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.join_in_community_group ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.join_in_community_group"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.join_in_community_group, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling CommunitiesApi.join_in_community_group"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling CommunitiesApi.join_in_community_group, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/communities/{CommunityID}/{GroupID}/join'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s)).sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.join_in_community_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#join_in_community_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Link group to community
    # This method is responsible for link group to community.
    # @param community_id [String] Community ID
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def link_group_to_community(community_id, group_id, opts = {})
      data, _status_code, _headers = link_group_to_community_with_http_info(community_id, group_id, opts)
      data
    end

    # Link group to community
    # This method is responsible for link group to community.
    # @param community_id [String] Community ID
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def link_group_to_community_with_http_info(community_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.link_group_to_community ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.link_group_to_community"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.link_group_to_community, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling CommunitiesApi.link_group_to_community"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling CommunitiesApi.link_group_to_community, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/communities/{CommunityID}/{GroupID}'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s)).sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.link_group_to_community",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#link_group_to_community\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Promote participants to admin in community
    # This method is responsible for promote participants to admin in community.
    # @param community_id [String] Community ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseListParticipants]
    def promote_community_participant(community_id, list_participants_request, opts = {})
      data, _status_code, _headers = promote_community_participant_with_http_info(community_id, list_participants_request, opts)
      data
    end

    # Promote participants to admin in community
    # This method is responsible for promote participants to admin in community.
    # @param community_id [String] Community ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseListParticipants, Integer, Hash)>] ResponseListParticipants data, response status code and response headers
    def promote_community_participant_with_http_info(community_id, list_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.promote_community_participant ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.promote_community_participant"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.promote_community_participant, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'list_participants_request' is set
      if @api_client.config.client_side_validation && list_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_participants_request' when calling CommunitiesApi.promote_community_participant"
      end
      # resource path
      local_var_path = '/communities/{CommunityID}/admins'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseListParticipants'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.promote_community_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#promote_community_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove participants from community
    # This method is responsible for remove paricipants from community.
    # @param community_id [String] Community ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseListParticipants]
    def remove_community_participant(community_id, list_participants_request, opts = {})
      data, _status_code, _headers = remove_community_participant_with_http_info(community_id, list_participants_request, opts)
      data
    end

    # Remove participants from community
    # This method is responsible for remove paricipants from community.
    # @param community_id [String] Community ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseListParticipants, Integer, Hash)>] ResponseListParticipants data, response status code and response headers
    def remove_community_participant_with_http_info(community_id, list_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.remove_community_participant ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.remove_community_participant"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.remove_community_participant, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'list_participants_request' is set
      if @api_client.config.client_side_validation && list_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_participants_request' when calling CommunitiesApi.remove_community_participant"
      end
      # resource path
      local_var_path = '/communities/{CommunityID}/participants'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseListParticipants'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.remove_community_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#remove_community_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke community invite code
    # @param community_id [String] Community ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def revoke_community_invite(community_id, opts = {})
      data, _status_code, _headers = revoke_community_invite_with_http_info(community_id, opts)
      data
    end

    # Revoke community invite code
    # @param community_id [String] Community ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def revoke_community_invite_with_http_info(community_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.revoke_community_invite ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.revoke_community_invite"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.revoke_community_invite, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/communities/{CommunityID}/revokeInviteUrl'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.revoke_community_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#revoke_community_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unlink group from community
    # This method is responsible for unlink group from community.
    # @param community_id [String] Community ID
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def unlink_group_from_community(community_id, group_id, opts = {})
      data, _status_code, _headers = unlink_group_from_community_with_http_info(community_id, group_id, opts)
      data
    end

    # Unlink group from community
    # This method is responsible for unlink group from community.
    # @param community_id [String] Community ID
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def unlink_group_from_community_with_http_info(community_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommunitiesApi.unlink_group_from_community ...'
      end
      # verify the required parameter 'community_id' is set
      if @api_client.config.client_side_validation && community_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_id' when calling CommunitiesApi.unlink_group_from_community"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && community_id !~ pattern
        fail ArgumentError, "invalid value for 'community_id' when calling CommunitiesApi.unlink_group_from_community, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling CommunitiesApi.unlink_group_from_community"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling CommunitiesApi.unlink_group_from_community, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/communities/{CommunityID}/{GroupID}'.sub('{' + 'CommunityID' + '}', CGI.escape(community_id.to_s)).sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"CommunitiesApi.unlink_group_from_community",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommunitiesApi#unlink_group_from_community\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
