=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class ContactsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check exist
    # The method individually checks for a number in WhatsApp without additional information
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def check_exist(contact_id, opts = {})
      data, _status_code, _headers = check_exist_with_http_info(contact_id, opts)
      data
    end

    # Check exist
    # The method individually checks for a number in WhatsApp without additional information
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def check_exist_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.check_exist ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactsApi.check_exist"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling ContactsApi.check_exist, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/contacts/{ContactID}'.sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.check_exist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#check_exist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check phones
    # This method returns whether or not the number has Whatsapp. Batch check provisioning is supported, and there is no batch check limit. However, an atypical mass check can draw attention to your number, so we advise [balancing the check between channels](https://support.whapi.cloud/help-desk/faq/checking-if-the-number-has-whatsapp)
    # @param check_contact_request [CheckContactRequest] Contact data
    # @param [Hash] opts the optional parameters
    # @return [CheckContactResponse]
    def check_phones(check_contact_request, opts = {})
      data, _status_code, _headers = check_phones_with_http_info(check_contact_request, opts)
      data
    end

    # Check phones
    # This method returns whether or not the number has Whatsapp. Batch check provisioning is supported, and there is no batch check limit. However, an atypical mass check can draw attention to your number, so we advise [balancing the check between channels](https://support.whapi.cloud/help-desk/faq/checking-if-the-number-has-whatsapp)
    # @param check_contact_request [CheckContactRequest] Contact data
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckContactResponse, Integer, Hash)>] CheckContactResponse data, response status code and response headers
    def check_phones_with_http_info(check_contact_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.check_phones ...'
      end
      # verify the required parameter 'check_contact_request' is set
      if @api_client.config.client_side_validation && check_contact_request.nil?
        fail ArgumentError, "Missing the required parameter 'check_contact_request' when calling ContactsApi.check_phones"
      end
      # resource path
      local_var_path = '/contacts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_contact_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckContactResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.check_phones",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#check_phones\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contact
    # This method is responsible for returning all of you contact’s metadata
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Contact]
    def get_contact(contact_id, opts = {})
      data, _status_code, _headers = get_contact_with_http_info(contact_id, opts)
      data
    end

    # Get contact
    # This method is responsible for returning all of you contact’s metadata
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Contact, Integer, Hash)>] Contact data, response status code and response headers
    def get_contact_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.get_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactsApi.get_contact"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling ContactsApi.get_contact, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/contacts/{ContactID}'.sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Contact'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.get_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#get_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get profile
    # This method allows you to get profile information (description, profile image) by phone number, even if it is not in your contact list
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [UserProfile]
    def get_contact_profile(contact_id, opts = {})
      data, _status_code, _headers = get_contact_profile_with_http_info(contact_id, opts)
      data
    end

    # Get profile
    # This method allows you to get profile information (description, profile image) by phone number, even if it is not in your contact list
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserProfile, Integer, Hash)>] UserProfile data, response status code and response headers
    def get_contact_profile_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.get_contact_profile ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactsApi.get_contact_profile"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling ContactsApi.get_contact_profile, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/contacts/{ContactID}/profile'.sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.get_contact_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#get_contact_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contacts
    # This method is responsible for returning all of your Whatsapp contacts
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [ContactsList]
    def get_contacts(opts = {})
      data, _status_code, _headers = get_contacts_with_http_info(opts)
      data
    end

    # Get contacts
    # This method is responsible for returning all of your Whatsapp contacts
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(ContactsList, Integer, Hash)>] ContactsList data, response status code and response headers
    def get_contacts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.get_contacts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling ContactsApi.get_contacts, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling ContactsApi.get_contacts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ContactsApi.get_contacts, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/contacts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.get_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#get_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send contact
    # @param contact_id [String] Contact ID
    # @param sender_contact_from_phonebook [SenderContactFromPhonebook] Message contact
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_contact(contact_id, sender_contact_from_phonebook, opts = {})
      data, _status_code, _headers = send_contact_with_http_info(contact_id, sender_contact_from_phonebook, opts)
      data
    end

    # Send contact
    # @param contact_id [String] Contact ID
    # @param sender_contact_from_phonebook [SenderContactFromPhonebook] Message contact
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_contact_with_http_info(contact_id, sender_contact_from_phonebook, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.send_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactsApi.send_contact"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling ContactsApi.send_contact, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'sender_contact_from_phonebook' is set
      if @api_client.config.client_side_validation && sender_contact_from_phonebook.nil?
        fail ArgumentError, "Missing the required parameter 'sender_contact_from_phonebook' when calling ContactsApi.send_contact"
      end
      # resource path
      local_var_path = '/contacts/{ContactID}'.sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_contact_from_phonebook)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.send_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#send_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
