=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class GroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept group invite
    # Allows you to join a group by knowing its invitation code
    # @param group_invite [GroupInvite] Group data
    # @param [Hash] opts the optional parameters
    # @return [NewGroup]
    def accept_group_invite(group_invite, opts = {})
      data, _status_code, _headers = accept_group_invite_with_http_info(group_invite, opts)
      data
    end

    # Accept group invite
    # Allows you to join a group by knowing its invitation code
    # @param group_invite [GroupInvite] Group data
    # @param [Hash] opts the optional parameters
    # @return [Array<(NewGroup, Integer, Hash)>] NewGroup data, response status code and response headers
    def accept_group_invite_with_http_info(group_invite, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.accept_group_invite ...'
      end
      # verify the required parameter 'group_invite' is set
      if @api_client.config.client_side_validation && group_invite.nil?
        fail ArgumentError, "Missing the required parameter 'group_invite' when calling GroupsApi.accept_group_invite"
      end
      # resource path
      local_var_path = '/groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_invite)

      # return_type
      return_type = opts[:debug_return_type] || 'NewGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.accept_group_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#accept_group_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add group participant
    # This method is responsible for adding new members to the group. Due to WhatsApp's anti-spam policy, some contacts are not automatically added to the group. [Read more here](https://support.whapi.cloud/help-desk/groups/add-new-member-to-group)
    # @param group_id [String] Group ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseListParticipants]
    def add_group_participant(group_id, list_participants_request, opts = {})
      data, _status_code, _headers = add_group_participant_with_http_info(group_id, list_participants_request, opts)
      data
    end

    # Add group participant
    # This method is responsible for adding new members to the group. Due to WhatsApp&#39;s anti-spam policy, some contacts are not automatically added to the group. [Read more here](https://support.whapi.cloud/help-desk/groups/add-new-member-to-group)
    # @param group_id [String] Group ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseListParticipants, Integer, Hash)>] ResponseListParticipants data, response status code and response headers
    def add_group_participant_with_http_info(group_id, list_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.add_group_participant ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.add_group_participant"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.add_group_participant, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'list_participants_request' is set
      if @api_client.config.client_side_validation && list_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_participants_request' when calling GroupsApi.add_group_participant"
      end
      # resource path
      local_var_path = '/groups/{GroupID}/participants'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseListParticipants'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.add_group_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#add_group_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accept group applications for listed users
    # This method returns the list with result of operation for each user
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [ApplicationRequest] :application_request Chat ID list
    # @return [Array<GroupApplicationChange>]
    def approve_group_applications_list(group_id, opts = {})
      data, _status_code, _headers = approve_group_applications_list_with_http_info(group_id, opts)
      data
    end

    # Accept group applications for listed users
    # This method returns the list with result of operation for each user
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [ApplicationRequest] :application_request Chat ID list
    # @return [Array<(Array<GroupApplicationChange>, Integer, Hash)>] Array<GroupApplicationChange> data, response status code and response headers
    def approve_group_applications_list_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.approve_group_applications_list ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.approve_group_applications_list"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.approve_group_applications_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/{GroupID}/applications'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'application_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GroupApplicationChange>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.approve_group_applications_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#approve_group_applications_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create group
    # This method is responsible for creating a group with its respective participants. Just like WhatsApp you will need to add at least one contact to be able to create a group. Due to WhatsApp's anti-spam policy, some contacts are not automatically added to the group. [Read more here](https://support.whapi.cloud/help-desk/groups/add-new-member-to-group)
    # @param create_group_request [CreateGroupRequest] Group data
    # @param [Hash] opts the optional parameters
    # @return [GroupCreate]
    def create_group(create_group_request, opts = {})
      data, _status_code, _headers = create_group_with_http_info(create_group_request, opts)
      data
    end

    # Create group
    # This method is responsible for creating a group with its respective participants. Just like WhatsApp you will need to add at least one contact to be able to create a group. Due to WhatsApp&#39;s anti-spam policy, some contacts are not automatically added to the group. [Read more here](https://support.whapi.cloud/help-desk/groups/add-new-member-to-group)
    # @param create_group_request [CreateGroupRequest] Group data
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupCreate, Integer, Hash)>] GroupCreate data, response status code and response headers
    def create_group_with_http_info(create_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.create_group ...'
      end
      # verify the required parameter 'create_group_request' is set
      if @api_client.config.client_side_validation && create_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_group_request' when calling GroupsApi.create_group"
      end
      # resource path
      local_var_path = '/groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupCreate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.create_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#create_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete group icon
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def delete_group_icon(group_id, opts = {})
      data, _status_code, _headers = delete_group_icon_with_http_info(group_id, opts)
      data
    end

    # Delete group icon
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def delete_group_icon_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.delete_group_icon ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.delete_group_icon"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.delete_group_icon, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/{GroupID}/icon'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.delete_group_icon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#delete_group_icon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Demote group admin
    # This method is responsible for removing one or more admins from a group
    # @param group_id [String] Group ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def demote_group_admin(group_id, list_participants_request, opts = {})
      data, _status_code, _headers = demote_group_admin_with_http_info(group_id, list_participants_request, opts)
      data
    end

    # Demote group admin
    # This method is responsible for removing one or more admins from a group
    # @param group_id [String] Group ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def demote_group_admin_with_http_info(group_id, list_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.demote_group_admin ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.demote_group_admin"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.demote_group_admin, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'list_participants_request' is set
      if @api_client.config.client_side_validation && list_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_participants_request' when calling GroupsApi.demote_group_admin"
      end
      # resource path
      local_var_path = '/groups/{GroupID}/admins'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.demote_group_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#demote_group_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get group
    # This method returns the group metadata with all information about the group and its participants
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Group]
    def get_group(group_id, opts = {})
      data, _status_code, _headers = get_group_with_http_info(group_id, opts)
      data
    end

    # Get group
    # This method returns the group metadata with all information about the group and its participants
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Group, Integer, Hash)>] Group data, response status code and response headers
    def get_group_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.get_group ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.get_group"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.get_group, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/{GroupID}'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Group'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.get_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#get_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list of join requests to the group
    # This method returns the list of join requests to the group
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [GroupApplicationList]
    def get_group_applications_list(group_id, opts = {})
      data, _status_code, _headers = get_group_applications_list_with_http_info(group_id, opts)
      data
    end

    # Get list of join requests to the group
    # This method returns the list of join requests to the group
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(GroupApplicationList, Integer, Hash)>] GroupApplicationList data, response status code and response headers
    def get_group_applications_list_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.get_group_applications_list ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.get_group_applications_list"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.get_group_applications_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling GroupsApi.get_group_applications_list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling GroupsApi.get_group_applications_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling GroupsApi.get_group_applications_list, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/groups/{GroupID}/applications'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupApplicationList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.get_group_applications_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#get_group_applications_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get group icon
    # This method returns the profile image of group
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_group_icon(group_id, opts = {})
      data, _status_code, _headers = get_group_icon_with_http_info(group_id, opts)
      data
    end

    # Get group icon
    # This method returns the profile image of group
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_group_icon_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.get_group_icon ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.get_group_icon"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.get_group_icon, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/{GroupID}/icon'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['image/png', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.get_group_icon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#get_group_icon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get group invite
    # This method retrieves the ID of the group invitation. [What it is and how to work with it](https://support.whapi.cloud/help-desk/groups/add-new-member-to-group#sending-an-invitation-to-a-group)
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [GroupInvite]
    def get_group_invite(group_id, opts = {})
      data, _status_code, _headers = get_group_invite_with_http_info(group_id, opts)
      data
    end

    # Get group invite
    # This method retrieves the ID of the group invitation. [What it is and how to work with it](https://support.whapi.cloud/help-desk/groups/add-new-member-to-group#sending-an-invitation-to-a-group)
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupInvite, Integer, Hash)>] GroupInvite data, response status code and response headers
    def get_group_invite_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.get_group_invite ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.get_group_invite"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.get_group_invite, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/{GroupID}/invite'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupInvite'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.get_group_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#get_group_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get group info by invite code
    # @param invite_code [String] Invite Code
    # @param [Hash] opts the optional parameters
    # @return [GroupInfoByInviteCode]
    def get_group_metadata_by_invite_code(invite_code, opts = {})
      data, _status_code, _headers = get_group_metadata_by_invite_code_with_http_info(invite_code, opts)
      data
    end

    # Get group info by invite code
    # @param invite_code [String] Invite Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupInfoByInviteCode, Integer, Hash)>] GroupInfoByInviteCode data, response status code and response headers
    def get_group_metadata_by_invite_code_with_http_info(invite_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.get_group_metadata_by_invite_code ...'
      end
      # verify the required parameter 'invite_code' is set
      if @api_client.config.client_side_validation && invite_code.nil?
        fail ArgumentError, "Missing the required parameter 'invite_code' when calling GroupsApi.get_group_metadata_by_invite_code"
      end
      pattern = Regexp.new(/^[A-Za-z0-9]{14,22}$/)
      if @api_client.config.client_side_validation && invite_code !~ pattern
        fail ArgumentError, "invalid value for 'invite_code' when calling GroupsApi.get_group_metadata_by_invite_code, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/link/{InviteCode}'.sub('{' + 'InviteCode' + '}', CGI.escape(invite_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupInfoByInviteCode'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.get_group_metadata_by_invite_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#get_group_metadata_by_invite_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get groups
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [GroupsList]
    def get_groups(opts = {})
      data, _status_code, _headers = get_groups_with_http_info(opts)
      data
    end

    # Get groups
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(GroupsList, Integer, Hash)>] GroupsList data, response status code and response headers
    def get_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.get_groups ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling GroupsApi.get_groups, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling GroupsApi.get_groups, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling GroupsApi.get_groups, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.get_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#get_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Leave group
    # This method allows you to leave a group that you are a member of
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def leave_group(group_id, opts = {})
      data, _status_code, _headers = leave_group_with_http_info(group_id, opts)
      data
    end

    # Leave group
    # This method allows you to leave a group that you are a member of
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def leave_group_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.leave_group ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.leave_group"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.leave_group, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/{GroupID}'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.leave_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#leave_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Promote to group admin
    # This method is responsible for promoting group members to admins, you can promote one or more members to admins
    # @param group_id [String] Group ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def promote_to_group_admin(group_id, list_participants_request, opts = {})
      data, _status_code, _headers = promote_to_group_admin_with_http_info(group_id, list_participants_request, opts)
      data
    end

    # Promote to group admin
    # This method is responsible for promoting group members to admins, you can promote one or more members to admins
    # @param group_id [String] Group ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def promote_to_group_admin_with_http_info(group_id, list_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.promote_to_group_admin ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.promote_to_group_admin"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.promote_to_group_admin, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'list_participants_request' is set
      if @api_client.config.client_side_validation && list_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_participants_request' when calling GroupsApi.promote_to_group_admin"
      end
      # resource path
      local_var_path = '/groups/{GroupID}/admins'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.promote_to_group_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#promote_to_group_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reject group applications for listed users
    # This method returns the list with result of operation for each user
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [ApplicationRequest] :application_request Chat ID list
    # @return [Array<GroupApplicationChange>]
    def reject_group_applications_list(group_id, opts = {})
      data, _status_code, _headers = reject_group_applications_list_with_http_info(group_id, opts)
      data
    end

    # Reject group applications for listed users
    # This method returns the list with result of operation for each user
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [ApplicationRequest] :application_request Chat ID list
    # @return [Array<(Array<GroupApplicationChange>, Integer, Hash)>] Array<GroupApplicationChange> data, response status code and response headers
    def reject_group_applications_list_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.reject_group_applications_list ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.reject_group_applications_list"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.reject_group_applications_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/{GroupID}/applications'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'application_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GroupApplicationChange>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.reject_group_applications_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#reject_group_applications_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove group participant
    # This method is responsible for removing members of the group
    # @param group_id [String] Group ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def remove_group_participant(group_id, list_participants_request, opts = {})
      data, _status_code, _headers = remove_group_participant_with_http_info(group_id, list_participants_request, opts)
      data
    end

    # Remove group participant
    # This method is responsible for removing members of the group
    # @param group_id [String] Group ID
    # @param list_participants_request [ListParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def remove_group_participant_with_http_info(group_id, list_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.remove_group_participant ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.remove_group_participant"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.remove_group_participant, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'list_participants_request' is set
      if @api_client.config.client_side_validation && list_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_participants_request' when calling GroupsApi.remove_group_participant"
      end
      # resource path
      local_var_path = '/groups/{GroupID}/participants'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.remove_group_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#remove_group_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke group invite
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def revoke_group_invite(group_id, opts = {})
      data, _status_code, _headers = revoke_group_invite_with_http_info(group_id, opts)
      data
    end

    # Revoke group invite
    # @param group_id [String] Group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def revoke_group_invite_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.revoke_group_invite ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.revoke_group_invite"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.revoke_group_invite, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/groups/{GroupID}/invite'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.revoke_group_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#revoke_group_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send group invite link
    # @param invite_code [String] Invite Code
    # @param sender_group_invite_by_code [SenderGroupInviteByCode] Message group invite
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_group_invite(invite_code, sender_group_invite_by_code, opts = {})
      data, _status_code, _headers = send_group_invite_with_http_info(invite_code, sender_group_invite_by_code, opts)
      data
    end

    # Send group invite link
    # @param invite_code [String] Invite Code
    # @param sender_group_invite_by_code [SenderGroupInviteByCode] Message group invite
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_group_invite_with_http_info(invite_code, sender_group_invite_by_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.send_group_invite ...'
      end
      # verify the required parameter 'invite_code' is set
      if @api_client.config.client_side_validation && invite_code.nil?
        fail ArgumentError, "Missing the required parameter 'invite_code' when calling GroupsApi.send_group_invite"
      end
      pattern = Regexp.new(/^[A-Za-z0-9]{14,22}$/)
      if @api_client.config.client_side_validation && invite_code !~ pattern
        fail ArgumentError, "invalid value for 'invite_code' when calling GroupsApi.send_group_invite, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'sender_group_invite_by_code' is set
      if @api_client.config.client_side_validation && sender_group_invite_by_code.nil?
        fail ArgumentError, "Missing the required parameter 'sender_group_invite_by_code' when calling GroupsApi.send_group_invite"
      end
      # resource path
      local_var_path = '/groups/link/{InviteCode}'.sub('{' + 'InviteCode' + '}', CGI.escape(invite_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_group_invite_by_code)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.send_group_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#send_group_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set group icon
    # This method is reponsibible for changing a group image that already exists
    # @param group_id [String] Group ID
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def set_group_icon(group_id, body, opts = {})
      data, _status_code, _headers = set_group_icon_with_http_info(group_id, body, opts)
      data
    end

    # Set group icon
    # This method is reponsibible for changing a group image that already exists
    # @param group_id [String] Group ID
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def set_group_icon_with_http_info(group_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.set_group_icon ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.set_group_icon"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.set_group_icon, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling GroupsApi.set_group_icon"
      end
      # resource path
      local_var_path = '/groups/{GroupID}/icon'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['image/jpeg', 'image/png', 'application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.set_group_icon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#set_group_icon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update group info
    # This method is responsible for changing the name and description of a group that already exists
    # @param group_id [String] Group ID
    # @param update_group_info_request [UpdateGroupInfoRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def update_group_info(group_id, update_group_info_request, opts = {})
      data, _status_code, _headers = update_group_info_with_http_info(group_id, update_group_info_request, opts)
      data
    end

    # Update group info
    # This method is responsible for changing the name and description of a group that already exists
    # @param group_id [String] Group ID
    # @param update_group_info_request [UpdateGroupInfoRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def update_group_info_with_http_info(group_id, update_group_info_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.update_group_info ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.update_group_info"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.update_group_info, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_group_info_request' is set
      if @api_client.config.client_side_validation && update_group_info_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_group_info_request' when calling GroupsApi.update_group_info"
      end
      # resource path
      local_var_path = '/groups/{GroupID}'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_group_info_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.update_group_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#update_group_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update group setting
    # This method is responsible for changing the privacy settings for group
    # @param group_id [String] Group ID
    # @param update_group_setting_request [UpdateGroupSettingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def update_group_setting(group_id, update_group_setting_request, opts = {})
      data, _status_code, _headers = update_group_setting_with_http_info(group_id, update_group_setting_request, opts)
      data
    end

    # Update group setting
    # This method is responsible for changing the privacy settings for group
    # @param group_id [String] Group ID
    # @param update_group_setting_request [UpdateGroupSettingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def update_group_setting_with_http_info(group_id, update_group_setting_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupsApi.update_group_setting ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling GroupsApi.update_group_setting"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@g\.us$/)
      if @api_client.config.client_side_validation && group_id !~ pattern
        fail ArgumentError, "invalid value for 'group_id' when calling GroupsApi.update_group_setting, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_group_setting_request' is set
      if @api_client.config.client_side_validation && update_group_setting_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_group_setting_request' when calling GroupsApi.update_group_setting"
      end
      # resource path
      local_var_path = '/groups/{GroupID}'.sub('{' + 'GroupID' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_group_setting_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"GroupsApi.update_group_setting",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupsApi#update_group_setting\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
