=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class LabelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add label association
    # Through this method, it is possible to assign a label to a chat in WhatsApp Business
    # @param label_id [String] Label ID
    # @param association_id [AddLabelAssociationAssociationIDParameter] Chat ID or Message ID for label association
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def add_label_association(label_id, association_id, opts = {})
      data, _status_code, _headers = add_label_association_with_http_info(label_id, association_id, opts)
      data
    end

    # Add label association
    # Through this method, it is possible to assign a label to a chat in WhatsApp Business
    # @param label_id [String] Label ID
    # @param association_id [AddLabelAssociationAssociationIDParameter] Chat ID or Message ID for label association
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def add_label_association_with_http_info(label_id, association_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.add_label_association ...'
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling LabelsApi.add_label_association"
      end
      pattern = Regexp.new(/^([\d]{1,2})?$/)
      if @api_client.config.client_side_validation && label_id !~ pattern
        fail ArgumentError, "invalid value for 'label_id' when calling LabelsApi.add_label_association, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'association_id' is set
      if @api_client.config.client_side_validation && association_id.nil?
        fail ArgumentError, "Missing the required parameter 'association_id' when calling LabelsApi.add_label_association"
      end
      # resource path
      local_var_path = '/labels/{LabelID}/{AssociationID}'.sub('{' + 'LabelID' + '}', CGI.escape(label_id.to_s)).sub('{' + 'AssociationID' + '}', CGI.escape(association_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LabelsApi.add_label_association",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#add_label_association\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create label
    # Create label
    # @param [Hash] opts the optional parameters
    # @option opts [CreateLabel] :create_label 
    # @return [ResponseSuccess]
    def create_label(opts = {})
      data, _status_code, _headers = create_label_with_http_info(opts)
      data
    end

    # Create label
    # Create label
    # @param [Hash] opts the optional parameters
    # @option opts [CreateLabel] :create_label 
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def create_label_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.create_label ...'
      end
      # resource path
      local_var_path = '/labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_label'])

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LabelsApi.create_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#create_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete label association
    # Through this method, it is possible to remove the labels from a chat in WhatsApp Business
    # @param label_id [String] Label ID
    # @param association_id [AddLabelAssociationAssociationIDParameter] Chat ID or Message ID for label association
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def delete_label_association(label_id, association_id, opts = {})
      data, _status_code, _headers = delete_label_association_with_http_info(label_id, association_id, opts)
      data
    end

    # Delete label association
    # Through this method, it is possible to remove the labels from a chat in WhatsApp Business
    # @param label_id [String] Label ID
    # @param association_id [AddLabelAssociationAssociationIDParameter] Chat ID or Message ID for label association
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def delete_label_association_with_http_info(label_id, association_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.delete_label_association ...'
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling LabelsApi.delete_label_association"
      end
      pattern = Regexp.new(/^([\d]{1,2})?$/)
      if @api_client.config.client_side_validation && label_id !~ pattern
        fail ArgumentError, "invalid value for 'label_id' when calling LabelsApi.delete_label_association, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'association_id' is set
      if @api_client.config.client_side_validation && association_id.nil?
        fail ArgumentError, "Missing the required parameter 'association_id' when calling LabelsApi.delete_label_association"
      end
      # resource path
      local_var_path = '/labels/{LabelID}/{AssociationID}'.sub('{' + 'LabelID' + '}', CGI.escape(label_id.to_s)).sub('{' + 'AssociationID' + '}', CGI.escape(association_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LabelsApi.delete_label_association",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#delete_label_association\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get objects associated with label
    # @param label_id [String] Label ID
    # @param [Hash] opts the optional parameters
    # @return [LabelAssociations]
    def get_label_associations(label_id, opts = {})
      data, _status_code, _headers = get_label_associations_with_http_info(label_id, opts)
      data
    end

    # Get objects associated with label
    # @param label_id [String] Label ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(LabelAssociations, Integer, Hash)>] LabelAssociations data, response status code and response headers
    def get_label_associations_with_http_info(label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.get_label_associations ...'
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling LabelsApi.get_label_associations"
      end
      pattern = Regexp.new(/^([\d]{1,2})?$/)
      if @api_client.config.client_side_validation && label_id !~ pattern
        fail ArgumentError, "invalid value for 'label_id' when calling LabelsApi.get_label_associations, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/labels/{LabelID}'.sub('{' + 'LabelID' + '}', CGI.escape(label_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LabelAssociations'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LabelsApi.get_label_associations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#get_label_associations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get labels
    # In this method, you retrieve all your registered labels in your WhatsApp Business
    # @param [Hash] opts the optional parameters
    # @return [Array<Label>]
    def get_labels(opts = {})
      data, _status_code, _headers = get_labels_with_http_info(opts)
      data
    end

    # Get labels
    # In this method, you retrieve all your registered labels in your WhatsApp Business
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Label>, Integer, Hash)>] Array<Label> data, response status code and response headers
    def get_labels_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.get_labels ...'
      end
      # resource path
      local_var_path = '/labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Label>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LabelsApi.get_labels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#get_labels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
