=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class MessagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ❌ Delete message
    # Method used to delete a text sent in a chat. You will be able to delete a message that you sent as well as a message that was sent by a contact. To use this resource you will only need the messageId of the message that you want to delete.
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def delete_message(message_id, opts = {})
      data, _status_code, _headers = delete_message_with_http_info(message_id, opts)
      data
    end

    # ❌ Delete message
    # Method used to delete a text sent in a chat. You will be able to delete a message that you sent as well as a message that was sent by a contact. To use this resource you will only need the messageId of the message that you want to delete.
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def delete_message_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.delete_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesApi.delete_message"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling MessagesApi.delete_message, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/messages/{MessageID}'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.delete_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#delete_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ↪ Forward message
    # Simple and straightforward, in this method, you can forward messages through the API by providing the messageId of the message you want to forward and the phone number of the chat where this messageId is located.
    # @param message_id [String] Message ID
    # @param forward_message [ForwardMessage] Forward message
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def forward_message(message_id, forward_message, opts = {})
      data, _status_code, _headers = forward_message_with_http_info(message_id, forward_message, opts)
      data
    end

    # ↪ Forward message
    # Simple and straightforward, in this method, you can forward messages through the API by providing the messageId of the message you want to forward and the phone number of the chat where this messageId is located.
    # @param message_id [String] Message ID
    # @param forward_message [ForwardMessage] Forward message
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def forward_message_with_http_info(message_id, forward_message, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.forward_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesApi.forward_message"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling MessagesApi.forward_message, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'forward_message' is set
      if @api_client.config.client_side_validation && forward_message.nil?
        fail ArgumentError, "Missing the required parameter 'forward_message' when calling MessagesApi.forward_message"
      end
      # resource path
      local_var_path = '/messages/{MessageID}'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(forward_message)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.forward_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#forward_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get message
    # The method returns a message from any chat by message id.
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Message]
    def get_message(message_id, opts = {})
      data, _status_code, _headers = get_message_with_http_info(message_id, opts)
      data
    end

    # Get message
    # The method returns a message from any chat by message id.
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Message, Integer, Hash)>] Message data, response status code and response headers
    def get_message_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.get_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesApi.get_message"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling MessagesApi.get_message, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/messages/{MessageID}'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Message'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.get_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#get_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get messages
    # The method contains a list of all received and sent messages in a particular chat. Sorting by descending date of message sending.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @option opts [Float] :time_from Timestamp from which to get objects
    # @option opts [Float] :time_to Timestamp up to which to get objects
    # @option opts [Boolean] :normal_types If false, include system messages
    # @option opts [String] :author To filter by author (Contact ID)
    # @option opts [Boolean] :from_me If true, only return messages sent by the authenticated user. If false, only return messages sent by other users.
    # @option opts [String] :sort Order for items in request
    # @return [MessagesList]
    def get_messages(opts = {})
      data, _status_code, _headers = get_messages_with_http_info(opts)
      data
    end

    # Get messages
    # The method contains a list of all received and sent messages in a particular chat. Sorting by descending date of message sending.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @option opts [Float] :time_from Timestamp from which to get objects
    # @option opts [Float] :time_to Timestamp up to which to get objects
    # @option opts [Boolean] :normal_types If false, include system messages
    # @option opts [String] :author To filter by author (Contact ID)
    # @option opts [Boolean] :from_me If true, only return messages sent by the authenticated user. If false, only return messages sent by other users.
    # @option opts [String] :sort Order for items in request
    # @return [Array<(MessagesList, Integer, Hash)>] MessagesList data, response status code and response headers
    def get_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.get_messages ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling MessagesApi.get_messages, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling MessagesApi.get_messages, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling MessagesApi.get_messages, must be greater than or equal to 0.'
      end

      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && !opts[:'author'].nil? && opts[:'author'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"author\"]' when calling MessagesApi.get_messages, must conform to the pattern #{pattern}."
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/messages/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'time_from'] = opts[:'time_from'] if !opts[:'time_from'].nil?
      query_params[:'time_to'] = opts[:'time_to'] if !opts[:'time_to'].nil?
      query_params[:'normal_types'] = opts[:'normal_types'] if !opts[:'normal_types'].nil?
      query_params[:'author'] = opts[:'author'] if !opts[:'author'].nil?
      query_params[:'from_me'] = opts[:'from_me'] if !opts[:'from_me'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessagesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.get_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#get_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get messages by chat ID
    # The method contains a list of all received and sent messages in a particular chat. Sorting by descending date of message sending. You will need to specify [Chat ID](https://support.whapi.cloud/help-desk/faq/chat-id.-what-is-it-and-how-to-get-it)
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @option opts [Float] :time_from Timestamp from which to get objects
    # @option opts [Float] :time_to Timestamp up to which to get objects
    # @option opts [Boolean] :normal_types If false, include system messages
    # @option opts [String] :author To filter by author (Contact ID)
    # @option opts [Boolean] :from_me If true, only return messages sent by the authenticated user. If false, only return messages sent by other users.
    # @option opts [String] :sort Order for items in request
    # @return [MessagesList]
    def get_messages_by_chat_id(chat_id, opts = {})
      data, _status_code, _headers = get_messages_by_chat_id_with_http_info(chat_id, opts)
      data
    end

    # Get messages by chat ID
    # The method contains a list of all received and sent messages in a particular chat. Sorting by descending date of message sending. You will need to specify [Chat ID](https://support.whapi.cloud/help-desk/faq/chat-id.-what-is-it-and-how-to-get-it)
    # @param chat_id [String] Chat ID
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @option opts [Float] :time_from Timestamp from which to get objects
    # @option opts [Float] :time_to Timestamp up to which to get objects
    # @option opts [Boolean] :normal_types If false, include system messages
    # @option opts [String] :author To filter by author (Contact ID)
    # @option opts [Boolean] :from_me If true, only return messages sent by the authenticated user. If false, only return messages sent by other users.
    # @option opts [String] :sort Order for items in request
    # @return [Array<(MessagesList, Integer, Hash)>] MessagesList data, response status code and response headers
    def get_messages_by_chat_id_with_http_info(chat_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.get_messages_by_chat_id ...'
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling MessagesApi.get_messages_by_chat_id"
      end
      pattern = Regexp.new(/^[\d-]{10,31}@[\w\.]{1,}$/)
      if @api_client.config.client_side_validation && chat_id !~ pattern
        fail ArgumentError, "invalid value for 'chat_id' when calling MessagesApi.get_messages_by_chat_id, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling MessagesApi.get_messages_by_chat_id, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling MessagesApi.get_messages_by_chat_id, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling MessagesApi.get_messages_by_chat_id, must be greater than or equal to 0.'
      end

      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && !opts[:'author'].nil? && opts[:'author'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"author\"]' when calling MessagesApi.get_messages_by_chat_id, must conform to the pattern #{pattern}."
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/messages/list/{ChatID}'.sub('{' + 'ChatID' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'time_from'] = opts[:'time_from'] if !opts[:'time_from'].nil?
      query_params[:'time_to'] = opts[:'time_to'] if !opts[:'time_to'].nil?
      query_params[:'normal_types'] = opts[:'normal_types'] if !opts[:'normal_types'].nil?
      query_params[:'author'] = opts[:'author'] if !opts[:'author'].nil?
      query_params[:'from_me'] = opts[:'from_me'] if !opts[:'from_me'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessagesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.get_messages_by_chat_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#get_messages_by_chat_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ✔✔ Mark message as read
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def mark_message_as_read(message_id, opts = {})
      data, _status_code, _headers = mark_message_as_read_with_http_info(message_id, opts)
      data
    end

    # ✔✔ Mark message as read
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def mark_message_as_read_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.mark_message_as_read ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesApi.mark_message_as_read"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling MessagesApi.mark_message_as_read, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/messages/{MessageID}'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.mark_message_as_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#mark_message_as_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 📌 Pin message
    # @param message_id [String] Message ID
    # @param pin [Pin] Star message
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def pin_message(message_id, pin, opts = {})
      data, _status_code, _headers = pin_message_with_http_info(message_id, pin, opts)
      data
    end

    # 📌 Pin message
    # @param message_id [String] Message ID
    # @param pin [Pin] Star message
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def pin_message_with_http_info(message_id, pin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.pin_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesApi.pin_message"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling MessagesApi.pin_message, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pin' is set
      if @api_client.config.client_side_validation && pin.nil?
        fail ArgumentError, "Missing the required parameter 'pin' when calling MessagesApi.pin_message"
      end
      # resource path
      local_var_path = '/messages/{MessageID}/pin'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pin)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.pin_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#pin_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 😍 React to message
    # In this method you will be able to react to messages that were sent or recieved by you. You will need to specify the ID of the message you will respond to, as well as [the emoji](https://support.whapi.cloud/help-desk/sending/send-emoji)
    # @param message_id [String] Message ID
    # @param react_to_message [ReactToMessage] React to message
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def react_to_message(message_id, react_to_message, opts = {})
      data, _status_code, _headers = react_to_message_with_http_info(message_id, react_to_message, opts)
      data
    end

    # 😍 React to message
    # In this method you will be able to react to messages that were sent or recieved by you. You will need to specify the ID of the message you will respond to, as well as [the emoji](https://support.whapi.cloud/help-desk/sending/send-emoji)
    # @param message_id [String] Message ID
    # @param react_to_message [ReactToMessage] React to message
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def react_to_message_with_http_info(message_id, react_to_message, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.react_to_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesApi.react_to_message"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling MessagesApi.react_to_message, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'react_to_message' is set
      if @api_client.config.client_side_validation && react_to_message.nil?
        fail ArgumentError, "Missing the required parameter 'react_to_message' when calling MessagesApi.react_to_message"
      end
      # resource path
      local_var_path = '/messages/{MessageID}/reaction'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(react_to_message)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.react_to_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#react_to_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 📎 Send media message
    # Additional endpoint for easy send media-file as message. Use request body as file and inpath parameters for send parameters. Media message can be one of the following types: - 📷 image - 🎥 video - 🎬 gif - 🎵 audio - 🎤 voice - 📄 document - 🎭 sticker 
    # @param media_message_type [MediaMessageType] Media message type
    # @param send_params [SenderMedia] Send sender parameters via query
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_media_message(media_message_type, send_params, body, opts = {})
      data, _status_code, _headers = send_media_message_with_http_info(media_message_type, send_params, body, opts)
      data
    end

    # 📎 Send media message
    # Additional endpoint for easy send media-file as message. Use request body as file and inpath parameters for send parameters. Media message can be one of the following types: - 📷 image - 🎥 video - 🎬 gif - 🎵 audio - 🎤 voice - 📄 document - 🎭 sticker 
    # @param media_message_type [MediaMessageType] Media message type
    # @param send_params [SenderMedia] Send sender parameters via query
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_media_message_with_http_info(media_message_type, send_params, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_media_message ...'
      end
      # verify the required parameter 'media_message_type' is set
      if @api_client.config.client_side_validation && media_message_type.nil?
        fail ArgumentError, "Missing the required parameter 'media_message_type' when calling MessagesApi.send_media_message"
      end
      # verify the required parameter 'send_params' is set
      if @api_client.config.client_side_validation && send_params.nil?
        fail ArgumentError, "Missing the required parameter 'send_params' when calling MessagesApi.send_media_message"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MessagesApi.send_media_message"
      end
      # resource path
      local_var_path = '/messages/media/{MediaMessageType}'.sub('{' + 'MediaMessageType' + '}', CGI.escape(media_message_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'SendParams'] = send_params

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/pdf', 'application/msword', 'application/vnd.ms-powerpoint', 'application/vnd.ms-excel', 'text/plain', 'image/jpeg', 'image/png', 'audio/acc', 'audio/mp4', 'audio/amr', 'audio/mpeg', 'audio/ogg', 'codecs=opus', 'video/mp4', 'application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_media_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_media_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🎵 Send media-audio message
    # This method is responsible for sending audio messages for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_audio [SenderAudio] Message audio
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_audio(sender_audio, opts = {})
      data, _status_code, _headers = send_message_audio_with_http_info(sender_audio, opts)
      data
    end

    # 🎵 Send media-audio message
    # This method is responsible for sending audio messages for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_audio [SenderAudio] Message audio
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_audio_with_http_info(sender_audio, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_audio ...'
      end
      # verify the required parameter 'sender_audio' is set
      if @api_client.config.client_side_validation && sender_audio.nil?
        fail ArgumentError, "Missing the required parameter 'sender_audio' when calling MessagesApi.send_message_audio"
      end
      # resource path
      local_var_path = '/messages/audio'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_audio)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_audio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_audio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 👤 Send contact message
    # Simple and object, this method allows you to send a contact. You don't need to have it added to your contacts list, all you have to do is fill in the method attributes with the contact information and send. [A few ready examples](https://support.whapi.cloud/help-desk/sending/overview-of-other-methods-for-sending/send-contact-vcard)
    # @param sender_contact [SenderContact] Message contact
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_contact(sender_contact, opts = {})
      data, _status_code, _headers = send_message_contact_with_http_info(sender_contact, opts)
      data
    end

    # 👤 Send contact message
    # Simple and object, this method allows you to send a contact. You don&#39;t need to have it added to your contacts list, all you have to do is fill in the method attributes with the contact information and send. [A few ready examples](https://support.whapi.cloud/help-desk/sending/overview-of-other-methods-for-sending/send-contact-vcard)
    # @param sender_contact [SenderContact] Message contact
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_contact_with_http_info(sender_contact, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_contact ...'
      end
      # verify the required parameter 'sender_contact' is set
      if @api_client.config.client_side_validation && sender_contact.nil?
        fail ArgumentError, "Missing the required parameter 'sender_contact' when calling MessagesApi.send_message_contact"
      end
      # resource path
      local_var_path = '/messages/contact'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_contact)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 👥 Send contact list message
    # Simple and straightforward, this method allows you to send multiple contacts. You don't need to have them in your contacts; just fill the method's attributes with the contact information and send. [A few ready examples](https://support.whapi.cloud/help-desk/sending/overview-of-other-methods-for-sending/send-contact-vcard)
    # @param sender_contact_list [SenderContactList] Message contact list
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_contact_list(sender_contact_list, opts = {})
      data, _status_code, _headers = send_message_contact_list_with_http_info(sender_contact_list, opts)
      data
    end

    # 👥 Send contact list message
    # Simple and straightforward, this method allows you to send multiple contacts. You don&#39;t need to have them in your contacts; just fill the method&#39;s attributes with the contact information and send. [A few ready examples](https://support.whapi.cloud/help-desk/sending/overview-of-other-methods-for-sending/send-contact-vcard)
    # @param sender_contact_list [SenderContactList] Message contact list
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_contact_list_with_http_info(sender_contact_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_contact_list ...'
      end
      # verify the required parameter 'sender_contact_list' is set
      if @api_client.config.client_side_validation && sender_contact_list.nil?
        fail ArgumentError, "Missing the required parameter 'sender_contact_list' when calling MessagesApi.send_message_contact_list"
      end
      # resource path
      local_var_path = '/messages/contact_list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_contact_list)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_contact_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_contact_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 📑 Send media-document message
    # This method is responsible for sending documents for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_document [SenderDocument] Message document
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_document(sender_document, opts = {})
      data, _status_code, _headers = send_message_document_with_http_info(sender_document, opts)
      data
    end

    # 📑 Send media-document message
    # This method is responsible for sending documents for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_document [SenderDocument] Message document
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_document_with_http_info(sender_document, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_document ...'
      end
      # verify the required parameter 'sender_document' is set
      if @api_client.config.client_side_validation && sender_document.nil?
        fail ArgumentError, "Missing the required parameter 'sender_document' when calling MessagesApi.send_message_document"
      end
      # resource path
      local_var_path = '/messages/document'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_document)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🎬 Send media-gif message
    # Method responsible for sending GIFs to your chats through the API (The file to be sent must be an MP4)
    # @param sender_gif [SenderGif] Message gif
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_gif(sender_gif, opts = {})
      data, _status_code, _headers = send_message_gif_with_http_info(sender_gif, opts)
      data
    end

    # 🎬 Send media-gif message
    # Method responsible for sending GIFs to your chats through the API (The file to be sent must be an MP4)
    # @param sender_gif [SenderGif] Message gif
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_gif_with_http_info(sender_gif, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_gif ...'
      end
      # verify the required parameter 'sender_gif' is set
      if @api_client.config.client_side_validation && sender_gif.nil?
        fail ArgumentError, "Missing the required parameter 'sender_gif' when calling MessagesApi.send_message_gif"
      end
      # resource path
      local_var_path = '/messages/gif'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_gif)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_gif",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_gif\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🖼 Send media-image message
    # This method is responsible for sending images for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_image [SenderImage] Message image
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_image(sender_image, opts = {})
      data, _status_code, _headers = send_message_image_with_http_info(sender_image, opts)
      data
    end

    # 🖼 Send media-image message
    # This method is responsible for sending images for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_image [SenderImage] Message image
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_image_with_http_info(sender_image, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_image ...'
      end
      # verify the required parameter 'sender_image' is set
      if @api_client.config.client_side_validation && sender_image.nil?
        fail ArgumentError, "Missing the required parameter 'sender_image' when calling MessagesApi.send_message_image"
      end
      # resource path
      local_var_path = '/messages/image'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_image)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🎮 Send interactive message
    # This endpoint is responsible for sending messages with buttons. The section is constantly updated as the functionality of buttons depends on WhatsApp updates. Attention! The functionality of sending messages with buttons is not stable! For more information, please visit the [Button Status topic](https://support.whapi.cloud/help-desk/faq/current-status-of-buttons-on-whatsapp).
    # @param sender_interactive [SenderInteractive] Message interactive
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_interactive(sender_interactive, opts = {})
      data, _status_code, _headers = send_message_interactive_with_http_info(sender_interactive, opts)
      data
    end

    # 🎮 Send interactive message
    # This endpoint is responsible for sending messages with buttons. The section is constantly updated as the functionality of buttons depends on WhatsApp updates. Attention! The functionality of sending messages with buttons is not stable! For more information, please visit the [Button Status topic](https://support.whapi.cloud/help-desk/faq/current-status-of-buttons-on-whatsapp).
    # @param sender_interactive [SenderInteractive] Message interactive
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_interactive_with_http_info(sender_interactive, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_interactive ...'
      end
      # verify the required parameter 'sender_interactive' is set
      if @api_client.config.client_side_validation && sender_interactive.nil?
        fail ArgumentError, "Missing the required parameter 'sender_interactive' when calling MessagesApi.send_message_interactive"
      end
      # resource path
      local_var_path = '/messages/interactive'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_interactive)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_interactive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_interactive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 📎 Send link preview message
    # Method responsible for sending links with customize preview to your contacts, it is used to share links so that the user can be redirected to a website. Your link must necessarily be in the Body parameter. It is important for you to know that [the link is only clickable](https://support.whapi.cloud/help-desk/faq/inactive-links-in-whatsapp-messages) if the recipient already has your phone number in their contacts, or if they start a conversation with you
    # @param sender_link_preview [SenderLinkPreview] Message link preview send parameters
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_link_preview(sender_link_preview, opts = {})
      data, _status_code, _headers = send_message_link_preview_with_http_info(sender_link_preview, opts)
      data
    end

    # 📎 Send link preview message
    # Method responsible for sending links with customize preview to your contacts, it is used to share links so that the user can be redirected to a website. Your link must necessarily be in the Body parameter. It is important for you to know that [the link is only clickable](https://support.whapi.cloud/help-desk/faq/inactive-links-in-whatsapp-messages) if the recipient already has your phone number in their contacts, or if they start a conversation with you
    # @param sender_link_preview [SenderLinkPreview] Message link preview send parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_link_preview_with_http_info(sender_link_preview, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_link_preview ...'
      end
      # verify the required parameter 'sender_link_preview' is set
      if @api_client.config.client_side_validation && sender_link_preview.nil?
        fail ArgumentError, "Missing the required parameter 'sender_link_preview' when calling MessagesApi.send_message_link_preview"
      end
      # resource path
      local_var_path = '/messages/link_preview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_link_preview)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_link_preview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_link_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🧭 Send live location message
    # @param sender_live_location [SenderLiveLocation] Message live location
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_live_location(sender_live_location, opts = {})
      data, _status_code, _headers = send_message_live_location_with_http_info(sender_live_location, opts)
      data
    end

    # 🧭 Send live location message
    # @param sender_live_location [SenderLiveLocation] Message live location
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_live_location_with_http_info(sender_live_location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_live_location ...'
      end
      # verify the required parameter 'sender_live_location' is set
      if @api_client.config.client_side_validation && sender_live_location.nil?
        fail ArgumentError, "Missing the required parameter 'sender_live_location' when calling MessagesApi.send_message_live_location"
      end
      # resource path
      local_var_path = '/messages/live_location'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_live_location)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_live_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_live_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 📍 Send location message
    # Method responsible for sending a fixed location to your contacts, it is mostly used to send an address’s location
    # @param sender_location [SenderLocation] Message location
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_location(sender_location, opts = {})
      data, _status_code, _headers = send_message_location_with_http_info(sender_location, opts)
      data
    end

    # 📍 Send location message
    # Method responsible for sending a fixed location to your contacts, it is mostly used to send an address’s location
    # @param sender_location [SenderLocation] Message location
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_location_with_http_info(sender_location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_location ...'
      end
      # verify the required parameter 'sender_location' is set
      if @api_client.config.client_side_validation && sender_location.nil?
        fail ArgumentError, "Missing the required parameter 'sender_location' when calling MessagesApi.send_message_location"
      end
      # resource path
      local_var_path = '/messages/location'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_location)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 📊 Send poll message
    # In this method, you can send poll-type messages. Often, it's the polls that replace [the buttons for interactive communication](https://support.whapi.cloud/help-desk/hints/how-to-use-polls-as-buttons)
    # @param sender_poll [SenderPoll] Message poll
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_poll(sender_poll, opts = {})
      data, _status_code, _headers = send_message_poll_with_http_info(sender_poll, opts)
      data
    end

    # 📊 Send poll message
    # In this method, you can send poll-type messages. Often, it&#39;s the polls that replace [the buttons for interactive communication](https://support.whapi.cloud/help-desk/hints/how-to-use-polls-as-buttons)
    # @param sender_poll [SenderPoll] Message poll
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_poll_with_http_info(sender_poll, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_poll ...'
      end
      # verify the required parameter 'sender_poll' is set
      if @api_client.config.client_side_validation && sender_poll.nil?
        fail ArgumentError, "Missing the required parameter 'sender_poll' when calling MessagesApi.send_message_poll"
      end
      # resource path
      local_var_path = '/messages/poll'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_poll)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_poll",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_poll\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 📹 Send media-short video message (PTV)
    # This method is responsible for sending a short video in the circle for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_short [SenderShort] Message short
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_short(sender_short, opts = {})
      data, _status_code, _headers = send_message_short_with_http_info(sender_short, opts)
      data
    end

    # 📹 Send media-short video message (PTV)
    # This method is responsible for sending a short video in the circle for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_short [SenderShort] Message short
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_short_with_http_info(sender_short, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_short ...'
      end
      # verify the required parameter 'sender_short' is set
      if @api_client.config.client_side_validation && sender_short.nil?
        fail ArgumentError, "Missing the required parameter 'sender_short' when calling MessagesApi.send_message_short"
      end
      # resource path
      local_var_path = '/messages/short'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_short)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_short",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_short\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🎭 Send media-sticker message
    # This method is responsible for sending a sticker message for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_sticker [SenderSticker] Message sticker
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_sticker(sender_sticker, opts = {})
      data, _status_code, _headers = send_message_sticker_with_http_info(sender_sticker, opts)
      data
    end

    # 🎭 Send media-sticker message
    # This method is responsible for sending a sticker message for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_sticker [SenderSticker] Message sticker
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_sticker_with_http_info(sender_sticker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_sticker ...'
      end
      # verify the required parameter 'sender_sticker' is set
      if @api_client.config.client_side_validation && sender_sticker.nil?
        fail ArgumentError, "Missing the required parameter 'sender_sticker' when calling MessagesApi.send_message_sticker"
      end
      # resource path
      local_var_path = '/messages/sticker'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_sticker)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_sticker",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_sticker\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 👁️‍🗨️ Send story message
    # The method responsible for sending images or texts to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_stories [SenderStories] Stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_story(sender_stories, opts = {})
      data, _status_code, _headers = send_message_story_with_http_info(sender_stories, opts)
      data
    end

    # 👁️‍🗨️ Send story message
    # The method responsible for sending images or texts to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_stories [SenderStories] Stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_story_with_http_info(sender_stories, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_story ...'
      end
      # verify the required parameter 'sender_stories' is set
      if @api_client.config.client_side_validation && sender_stories.nil?
        fail ArgumentError, "Missing the required parameter 'sender_stories' when calling MessagesApi.send_message_story"
      end
      # resource path
      local_var_path = '/messages/story'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_stories)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_story",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🎵️ Send story audio message
    # The method responsible for sending audio to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_stories_audio [SenderStoriesAudio] Stories post parameters for audio
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_story_audio(sender_stories_audio, opts = {})
      data, _status_code, _headers = send_message_story_audio_with_http_info(sender_stories_audio, opts)
      data
    end

    # 🎵️ Send story audio message
    # The method responsible for sending audio to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_stories_audio [SenderStoriesAudio] Stories post parameters for audio
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_story_audio_with_http_info(sender_stories_audio, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_story_audio ...'
      end
      # verify the required parameter 'sender_stories_audio' is set
      if @api_client.config.client_side_validation && sender_stories_audio.nil?
        fail ArgumentError, "Missing the required parameter 'sender_stories_audio' when calling MessagesApi.send_message_story_audio"
      end
      # resource path
      local_var_path = '/messages/story/audio'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_stories_audio)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_story_audio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_story_audio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🖼 Send story media message
    # The method responsible for sending images or video to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param media [SendMediaMedia] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mime_type Mime type of media
    # @option opts [Boolean] :no_encode Do not use our encoding
    # @option opts [Boolean] :no_cache Do not use the cache in a request
    # @option opts [String] :caption Optional. Text caption under the media.
    # @option opts [String] :preview Optional. Base64 encoded preview of the media. In JPEG format.
    # @option opts [Integer] :width Width of the media in pixels
    # @option opts [Integer] :height Height of the media in pixels
    # @option opts [Array<String>] :contacts List of contacts to send the story to
    # @option opts [Array<String>] :exclude_contacts List of contacts to exclude
    # @option opts [Boolean] :experimental Some untested improvements
    # @return [SentMessage]
    def send_message_story_media(media, opts = {})
      data, _status_code, _headers = send_message_story_media_with_http_info(media, opts)
      data
    end

    # 🖼 Send story media message
    # The method responsible for sending images or video to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param media [SendMediaMedia] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mime_type Mime type of media
    # @option opts [Boolean] :no_encode Do not use our encoding
    # @option opts [Boolean] :no_cache Do not use the cache in a request
    # @option opts [String] :caption Optional. Text caption under the media.
    # @option opts [String] :preview Optional. Base64 encoded preview of the media. In JPEG format.
    # @option opts [Integer] :width Width of the media in pixels
    # @option opts [Integer] :height Height of the media in pixels
    # @option opts [Array<String>] :contacts List of contacts to send the story to
    # @option opts [Array<String>] :exclude_contacts List of contacts to exclude
    # @option opts [Boolean] :experimental Some untested improvements
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_story_media_with_http_info(media, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_story_media ...'
      end
      # verify the required parameter 'media' is set
      if @api_client.config.client_side_validation && media.nil?
        fail ArgumentError, "Missing the required parameter 'media' when calling MessagesApi.send_message_story_media"
      end
      # resource path
      local_var_path = '/messages/story/media'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['media'] = media
      form_params['mime_type'] = opts[:'mime_type'] if !opts[:'mime_type'].nil?
      form_params['no_encode'] = opts[:'no_encode'] if !opts[:'no_encode'].nil?
      form_params['no_cache'] = opts[:'no_cache'] if !opts[:'no_cache'].nil?
      form_params['caption'] = opts[:'caption'] if !opts[:'caption'].nil?
      form_params['preview'] = opts[:'preview'] if !opts[:'preview'].nil?
      form_params['width'] = opts[:'width'] if !opts[:'width'].nil?
      form_params['height'] = opts[:'height'] if !opts[:'height'].nil?
      form_params['contacts'] = @api_client.build_collection_param(opts[:'contacts'], :csv) if !opts[:'contacts'].nil?
      form_params['exclude_contacts'] = @api_client.build_collection_param(opts[:'exclude_contacts'], :csv) if !opts[:'exclude_contacts'].nil?
      form_params['experimental'] = opts[:'experimental'] if !opts[:'experimental'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_story_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_story_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 💬 Send story text message
    # The method responsible for sending texts to your status. Remember that statuses disappear after 24 hours.
    # @param sender_stories_text [SenderStoriesText] Text stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_story_text(sender_stories_text, opts = {})
      data, _status_code, _headers = send_message_story_text_with_http_info(sender_stories_text, opts)
      data
    end

    # 💬 Send story text message
    # The method responsible for sending texts to your status. Remember that statuses disappear after 24 hours.
    # @param sender_stories_text [SenderStoriesText] Text stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_story_text_with_http_info(sender_stories_text, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_story_text ...'
      end
      # verify the required parameter 'sender_stories_text' is set
      if @api_client.config.client_side_validation && sender_stories_text.nil?
        fail ArgumentError, "Missing the required parameter 'sender_stories_text' when calling MessagesApi.send_message_story_text"
      end
      # resource path
      local_var_path = '/messages/story/text'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_stories_text)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_story_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_story_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 💬 Send text message
    # This endpoint will let you send messages to any WhatsApp-enabled phone number or to any WhatsApp Group/Channel using your own number connected to Whapi.Cloud. Follow the instructions if you want to [format text](https://support.whapi.cloud/help-desk/faq/whatsapp-text-formatting), [send a emoji](https://support.whapi.cloud/help-desk/sending/send-emoji) or [use line breaks](https://support.whapi.cloud/help-desk/faq/how-to-send-a-paragraph-line-break).
    # @param sender_text [SenderText] Message text
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_text(sender_text, opts = {})
      data, _status_code, _headers = send_message_text_with_http_info(sender_text, opts)
      data
    end

    # 💬 Send text message
    # This endpoint will let you send messages to any WhatsApp-enabled phone number or to any WhatsApp Group/Channel using your own number connected to Whapi.Cloud. Follow the instructions if you want to [format text](https://support.whapi.cloud/help-desk/faq/whatsapp-text-formatting), [send a emoji](https://support.whapi.cloud/help-desk/sending/send-emoji) or [use line breaks](https://support.whapi.cloud/help-desk/faq/how-to-send-a-paragraph-line-break).
    # @param sender_text [SenderText] Message text
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_text_with_http_info(sender_text, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_text ...'
      end
      # verify the required parameter 'sender_text' is set
      if @api_client.config.client_side_validation && sender_text.nil?
        fail ArgumentError, "Missing the required parameter 'sender_text' when calling MessagesApi.send_message_text"
      end
      # resource path
      local_var_path = '/messages/text'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_text)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🎥 Send media-video message
    # This method is responsible for sending a video message for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_video [SenderVideo] Message video
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_video(sender_video, opts = {})
      data, _status_code, _headers = send_message_video_with_http_info(sender_video, opts)
      data
    end

    # 🎥 Send media-video message
    # This method is responsible for sending a video message for chats. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_video [SenderVideo] Message video
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_video_with_http_info(sender_video, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_message_video ...'
      end
      # verify the required parameter 'sender_video' is set
      if @api_client.config.client_side_validation && sender_video.nil?
        fail ArgumentError, "Missing the required parameter 'sender_video' when calling MessagesApi.send_message_video"
      end
      # resource path
      local_var_path = '/messages/video'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_video)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_message_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_message_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🎤 Send media-voice message
[...]
