=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class NewslettersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept Newsletter admin-request
    # This method is responsible for accepting an request to become an administrator of a WhatsApp Channel. This request is a message that you can both send like invitation and receive through the received message webhook
    # @param newsletter_id [String] Newsletter ID
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def accept_newsletter_admin_request(newsletter_id, contact_id, opts = {})
      data, _status_code, _headers = accept_newsletter_admin_request_with_http_info(newsletter_id, contact_id, opts)
      data
    end

    # Accept Newsletter admin-request
    # This method is responsible for accepting an request to become an administrator of a WhatsApp Channel. This request is a message that you can both send like invitation and receive through the received message webhook
    # @param newsletter_id [String] Newsletter ID
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def accept_newsletter_admin_request_with_http_info(newsletter_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.accept_newsletter_admin_request ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.accept_newsletter_admin_request"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.accept_newsletter_admin_request, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling NewslettersApi.accept_newsletter_admin_request"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling NewslettersApi.accept_newsletter_admin_request, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}/admins/{ContactID}'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s)).sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.accept_newsletter_admin_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#accept_newsletter_admin_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create newsletter
    # This method is responsible for creating a WhatsApp Channel. [How to send a post to WhatsApp Channel](https://support.whapi.cloud/help-desk/channels/send-post-to-whatsapp-channel)
    # @param create_newsletter_request [CreateNewsletterRequest] Newsletter data
    # @param [Hash] opts the optional parameters
    # @return [Newsletter]
    def create_newsletter(create_newsletter_request, opts = {})
      data, _status_code, _headers = create_newsletter_with_http_info(create_newsletter_request, opts)
      data
    end

    # Create newsletter
    # This method is responsible for creating a WhatsApp Channel. [How to send a post to WhatsApp Channel](https://support.whapi.cloud/help-desk/channels/send-post-to-whatsapp-channel)
    # @param create_newsletter_request [CreateNewsletterRequest] Newsletter data
    # @param [Hash] opts the optional parameters
    # @return [Array<(Newsletter, Integer, Hash)>] Newsletter data, response status code and response headers
    def create_newsletter_with_http_info(create_newsletter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.create_newsletter ...'
      end
      # verify the required parameter 'create_newsletter_request' is set
      if @api_client.config.client_side_validation && create_newsletter_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_newsletter_request' when calling NewslettersApi.create_newsletter"
      end
      # resource path
      local_var_path = '/newsletters'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_newsletter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Newsletter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.create_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#create_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Newsletter admin-invite
    # This method is responsible for sending an invitation for WhatsApp Channel administrator. Once the invitation is created, an invitation message will be sent to the contact
    # @param newsletter_id [String] Newsletter ID
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @option opts [CreateNewsletterAdminInviteRequest] :create_newsletter_admin_invite_request Invite data
    # @return [SentMessage]
    def create_newsletter_admin_invite(newsletter_id, contact_id, opts = {})
      data, _status_code, _headers = create_newsletter_admin_invite_with_http_info(newsletter_id, contact_id, opts)
      data
    end

    # Create Newsletter admin-invite
    # This method is responsible for sending an invitation for WhatsApp Channel administrator. Once the invitation is created, an invitation message will be sent to the contact
    # @param newsletter_id [String] Newsletter ID
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @option opts [CreateNewsletterAdminInviteRequest] :create_newsletter_admin_invite_request Invite data
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def create_newsletter_admin_invite_with_http_info(newsletter_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.create_newsletter_admin_invite ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.create_newsletter_admin_invite"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.create_newsletter_admin_invite, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling NewslettersApi.create_newsletter_admin_invite"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling NewslettersApi.create_newsletter_admin_invite, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}/invite/{ContactID}'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s)).sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_newsletter_admin_invite_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.create_newsletter_admin_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#create_newsletter_admin_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete newsletter
    # This method is responsible for deleting a WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def delete_newsletter(newsletter_id, opts = {})
      data, _status_code, _headers = delete_newsletter_with_http_info(newsletter_id, opts)
      data
    end

    # Delete newsletter
    # This method is responsible for deleting a WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def delete_newsletter_with_http_info(newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.delete_newsletter ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.delete_newsletter"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.delete_newsletter, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.delete_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#delete_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Demote Newsletter admin
    # This method is responsible for removing a user from the administration of the WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def demote_newsletter_admin(newsletter_id, contact_id, opts = {})
      data, _status_code, _headers = demote_newsletter_admin_with_http_info(newsletter_id, contact_id, opts)
      data
    end

    # Demote Newsletter admin
    # This method is responsible for removing a user from the administration of the WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def demote_newsletter_admin_with_http_info(newsletter_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.demote_newsletter_admin ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.demote_newsletter_admin"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.demote_newsletter_admin, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling NewslettersApi.demote_newsletter_admin"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling NewslettersApi.demote_newsletter_admin, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}/admins/{ContactID}'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s)).sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.demote_newsletter_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#demote_newsletter_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit newsletter
    # This method is responsible for editing a WhatsApp Newsletter Channel
    # @param newsletter_id [String] Newsletter ID
    # @param edit_newsletter_request [EditNewsletterRequest] Newsletter data
    # @param [Hash] opts the optional parameters
    # @return [Newsletter]
    def edit_newsletter(newsletter_id, edit_newsletter_request, opts = {})
      data, _status_code, _headers = edit_newsletter_with_http_info(newsletter_id, edit_newsletter_request, opts)
      data
    end

    # Edit newsletter
    # This method is responsible for editing a WhatsApp Newsletter Channel
    # @param newsletter_id [String] Newsletter ID
    # @param edit_newsletter_request [EditNewsletterRequest] Newsletter data
    # @param [Hash] opts the optional parameters
    # @return [Array<(Newsletter, Integer, Hash)>] Newsletter data, response status code and response headers
    def edit_newsletter_with_http_info(newsletter_id, edit_newsletter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.edit_newsletter ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.edit_newsletter"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.edit_newsletter, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'edit_newsletter_request' is set
      if @api_client.config.client_side_validation && edit_newsletter_request.nil?
        fail ArgumentError, "Missing the required parameter 'edit_newsletter_request' when calling NewslettersApi.edit_newsletter"
      end
      # resource path
      local_var_path = '/newsletters/{NewsletterID}'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(edit_newsletter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Newsletter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.edit_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#edit_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find newsletters by filters
    # This method returns a list of WhatsApp Channels data based on the search performed using filters provided in the request body
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_code Country for search
    # @option opts [String] :search Search word
    # @option opts [String] :newsletter_field Cursor to continue pagination
    # @option opts [String] :cursor Cursor to continue pagination
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [String] :sort Order for items in request
    # @return [NewslettersListPaged]
    def find_newsletter(opts = {})
      data, _status_code, _headers = find_newsletter_with_http_info(opts)
      data
    end

    # Find newsletters by filters
    # This method returns a list of WhatsApp Channels data based on the search performed using filters provided in the request body
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_code Country for search
    # @option opts [String] :search Search word
    # @option opts [String] :newsletter_field Cursor to continue pagination
    # @option opts [String] :cursor Cursor to continue pagination
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [String] :sort Order for items in request
    # @return [Array<(NewslettersListPaged, Integer, Hash)>] NewslettersListPaged data, response status code and response headers
    def find_newsletter_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.find_newsletter ...'
      end
      allowable_values = ["creation_time", "subscribers"]
      if @api_client.config.client_side_validation && opts[:'newsletter_field'] && !allowable_values.include?(opts[:'newsletter_field'])
        fail ArgumentError, "invalid value for \"newsletter_field\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NewslettersApi.find_newsletter, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NewslettersApi.find_newsletter, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/newsletters/find'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'newsletter_field'] = opts[:'newsletter_field'] if !opts[:'newsletter_field'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NewslettersListPaged'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.find_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#find_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get newsletter messages
    # The method returns the history of WhatsApp Channel messages
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :before Request messages before the specified one (see first and last)
    # @option opts [Float] :after Request messages after the specified one (see first and last)
    # @return [MessagesList]
    def get_messages_newsletter(newsletter_id, opts = {})
      data, _status_code, _headers = get_messages_newsletter_with_http_info(newsletter_id, opts)
      data
    end

    # Get newsletter messages
    # The method returns the history of WhatsApp Channel messages
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :before Request messages before the specified one (see first and last)
    # @option opts [Float] :after Request messages after the specified one (see first and last)
    # @return [Array<(MessagesList, Integer, Hash)>] MessagesList data, response status code and response headers
    def get_messages_newsletter_with_http_info(newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.get_messages_newsletter ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.get_messages_newsletter"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.get_messages_newsletter, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NewslettersApi.get_messages_newsletter, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NewslettersApi.get_messages_newsletter, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'before'].nil? && opts[:'before'] < 0
        fail ArgumentError, 'invalid value for "opts[:"before"]" when calling NewslettersApi.get_messages_newsletter, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'after'].nil? && opts[:'after'] < 0
        fail ArgumentError, 'invalid value for "opts[:"after"]" when calling NewslettersApi.get_messages_newsletter, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}/messages'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessagesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.get_messages_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#get_messages_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get newsletter information
    # This method returns the metadata of a WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_role User&#39;s role regarding the newsletter
    # @return [MessagesList]
    def get_newsletter(newsletter_id, opts = {})
      data, _status_code, _headers = get_newsletter_with_http_info(newsletter_id, opts)
      data
    end

    # Get newsletter information
    # This method returns the metadata of a WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_role User&#39;s role regarding the newsletter
    # @return [Array<(MessagesList, Integer, Hash)>] MessagesList data, response status code and response headers
    def get_newsletter_with_http_info(newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.get_newsletter ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.get_newsletter"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.get_newsletter, must conform to the pattern #{pattern}."
      end

      allowable_values = ["subscriber", "admin", "guest", "owner"]
      if @api_client.config.client_side_validation && opts[:'user_role'] && !allowable_values.include?(opts[:'user_role'])
        fail ArgumentError, "invalid value for \"user_role\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/newsletters/{NewsletterID}'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'user role'] = opts[:'user_role'] if !opts[:'user_role'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessagesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.get_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#get_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get newsletter info by invite code
    # @param newsletter_invite_code [String] Newsletter Invite Code
    # @param [Hash] opts the optional parameters
    # @return [Newsletter]
    def get_newsletter_by_invite_code(newsletter_invite_code, opts = {})
      data, _status_code, _headers = get_newsletter_by_invite_code_with_http_info(newsletter_invite_code, opts)
      data
    end

    # Get newsletter info by invite code
    # @param newsletter_invite_code [String] Newsletter Invite Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(Newsletter, Integer, Hash)>] Newsletter data, response status code and response headers
    def get_newsletter_by_invite_code_with_http_info(newsletter_invite_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.get_newsletter_by_invite_code ...'
      end
      # verify the required parameter 'newsletter_invite_code' is set
      if @api_client.config.client_side_validation && newsletter_invite_code.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_invite_code' when calling NewslettersApi.get_newsletter_by_invite_code"
      end
      pattern = Regexp.new(/^[A-Za-z0-9]{24}$/)
      if @api_client.config.client_side_validation && newsletter_invite_code !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_invite_code' when calling NewslettersApi.get_newsletter_by_invite_code, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/link/{NewsletterInviteCode}'.sub('{' + 'NewsletterInviteCode' + '}', CGI.escape(newsletter_invite_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Newsletter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.get_newsletter_by_invite_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#get_newsletter_by_invite_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get newsletters
    # This method returns a list with metadata of your own WhatsApp Channel and followed Channels, including all Channel information and their views.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [NewslettersList]
    def get_newsletters(opts = {})
      data, _status_code, _headers = get_newsletters_with_http_info(opts)
      data
    end

    # Get newsletters
    # This method returns a list with metadata of your own WhatsApp Channel and followed Channels, including all Channel information and their views.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @return [Array<(NewslettersList, Integer, Hash)>] NewslettersList data, response status code and response headers
    def get_newsletters_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.get_newsletters ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NewslettersApi.get_newsletters, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NewslettersApi.get_newsletters, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling NewslettersApi.get_newsletters, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/newsletters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NewslettersList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.get_newsletters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#get_newsletters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get recommended newsletters by country
    # This method returns a list of WhatsApp Channels data based on the search performed using filters provided in the request body
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_code Country for search
    # @option opts [String] :cursor Cursor to continue pagination
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @return [NewslettersListPaged]
    def recommended_newsletter(opts = {})
      data, _status_code, _headers = recommended_newsletter_with_http_info(opts)
      data
    end

    # Get recommended newsletters by country
    # This method returns a list of WhatsApp Channels data based on the search performed using filters provided in the request body
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_code Country for search
    # @option opts [String] :cursor Cursor to continue pagination
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @return [Array<(NewslettersListPaged, Integer, Hash)>] NewslettersListPaged data, response status code and response headers
    def recommended_newsletter_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.recommended_newsletter ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NewslettersApi.recommended_newsletter, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling NewslettersApi.recommended_newsletter, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/newsletters/recommended'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NewslettersListPaged'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.recommended_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#recommended_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke Newsletter admin-invite
    # This method is responsible for revoking an invitation for WhatsApp Channel administrator.
    # @param newsletter_id [String] Newsletter ID
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def revoke_newsletter_admin_invite(newsletter_id, contact_id, opts = {})
      data, _status_code, _headers = revoke_newsletter_admin_invite_with_http_info(newsletter_id, contact_id, opts)
      data
    end

    # Revoke Newsletter admin-invite
    # This method is responsible for revoking an invitation for WhatsApp Channel administrator.
    # @param newsletter_id [String] Newsletter ID
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def revoke_newsletter_admin_invite_with_http_info(newsletter_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.revoke_newsletter_admin_invite ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.revoke_newsletter_admin_invite"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.revoke_newsletter_admin_invite, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling NewslettersApi.revoke_newsletter_admin_invite"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && contact_id !~ pattern
        fail ArgumentError, "invalid value for 'contact_id' when calling NewslettersApi.revoke_newsletter_admin_invite, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}/invite/{ContactID}'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s)).sub('{' + 'ContactID' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.revoke_newsletter_admin_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#revoke_newsletter_admin_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send newsletter invite link
    # @param newsletter_invite_code [String] Newsletter Invite Code
    # @param sender_newsletter_invite_by_code [SenderNewsletterInviteByCode] Newsletter invite link
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_newsletter_invite(newsletter_invite_code, sender_newsletter_invite_by_code, opts = {})
      data, _status_code, _headers = send_newsletter_invite_with_http_info(newsletter_invite_code, sender_newsletter_invite_by_code, opts)
      data
    end

    # Send newsletter invite link
    # @param newsletter_invite_code [String] Newsletter Invite Code
    # @param sender_newsletter_invite_by_code [SenderNewsletterInviteByCode] Newsletter invite link
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_newsletter_invite_with_http_info(newsletter_invite_code, sender_newsletter_invite_by_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.send_newsletter_invite ...'
      end
      # verify the required parameter 'newsletter_invite_code' is set
      if @api_client.config.client_side_validation && newsletter_invite_code.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_invite_code' when calling NewslettersApi.send_newsletter_invite"
      end
      pattern = Regexp.new(/^[A-Za-z0-9]{24}$/)
      if @api_client.config.client_side_validation && newsletter_invite_code !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_invite_code' when calling NewslettersApi.send_newsletter_invite, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'sender_newsletter_invite_by_code' is set
      if @api_client.config.client_side_validation && sender_newsletter_invite_by_code.nil?
        fail ArgumentError, "Missing the required parameter 'sender_newsletter_invite_by_code' when calling NewslettersApi.send_newsletter_invite"
      end
      # resource path
      local_var_path = '/newsletters/link/{NewsletterInviteCode}'.sub('{' + 'NewsletterInviteCode' + '}', CGI.escape(newsletter_invite_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_newsletter_invite_by_code)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.send_newsletter_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#send_newsletter_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscribe to newsletter
    # This method is responsible for following a WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def subscribe_newsletter(newsletter_id, opts = {})
      data, _status_code, _headers = subscribe_newsletter_with_http_info(newsletter_id, opts)
      data
    end

    # Subscribe to newsletter
    # This method is responsible for following a WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def subscribe_newsletter_with_http_info(newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.subscribe_newsletter ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.subscribe_newsletter"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.subscribe_newsletter, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}/subscription'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.subscribe_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#subscribe_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscribe to newsletter by invite code
    # This method is responsible for following a WhatsApp Channel
    # @param newsletter_invite_code [String] Newsletter Invite Code
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def subscribe_newsletter_invite(newsletter_invite_code, opts = {})
      data, _status_code, _headers = subscribe_newsletter_invite_with_http_info(newsletter_invite_code, opts)
      data
    end

    # Subscribe to newsletter by invite code
    # This method is responsible for following a WhatsApp Channel
    # @param newsletter_invite_code [String] Newsletter Invite Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def subscribe_newsletter_invite_with_http_info(newsletter_invite_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.subscribe_newsletter_invite ...'
      end
      # verify the required parameter 'newsletter_invite_code' is set
      if @api_client.config.client_side_validation && newsletter_invite_code.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_invite_code' when calling NewslettersApi.subscribe_newsletter_invite"
      end
      pattern = Regexp.new(/^[A-Za-z0-9]{24}$/)
      if @api_client.config.client_side_validation && newsletter_invite_code !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_invite_code' when calling NewslettersApi.subscribe_newsletter_invite, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/invite/{NewsletterInviteCode}/subscription'.sub('{' + 'NewsletterInviteCode' + '}', CGI.escape(newsletter_invite_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.subscribe_newsletter_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#subscribe_newsletter_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscribe to newsletter updates
    # It is necessary to receive notifications about new votes in the polls
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def tracking_newsletter(newsletter_id, opts = {})
      data, _status_code, _headers = tracking_newsletter_with_http_info(newsletter_id, opts)
      data
    end

    # Subscribe to newsletter updates
    # It is necessary to receive notifications about new votes in the polls
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def tracking_newsletter_with_http_info(newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.tracking_newsletter ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.tracking_newsletter"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.tracking_newsletter, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}/tracking'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.tracking_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#tracking_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unsubscribe from newsletter
    # This method is responsible for unfollowing a WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def unsubscribe_newsletter(newsletter_id, opts = {})
      data, _status_code, _headers = unsubscribe_newsletter_with_http_info(newsletter_id, opts)
      data
    end

    # Unsubscribe from newsletter
    # This method is responsible for unfollowing a WhatsApp Channel
    # @param newsletter_id [String] Newsletter ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def unsubscribe_newsletter_with_http_info(newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.unsubscribe_newsletter ...'
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.unsubscribe_newsletter"
      end
      pattern = Regexp.new(/^[\d]{10,18}@newsletter$/)
      if @api_client.config.client_side_validation && newsletter_id !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_id' when calling NewslettersApi.unsubscribe_newsletter, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/{NewsletterID}/subscription'.sub('{' + 'NewsletterID' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.unsubscribe_newsletter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#unsubscribe_newsletter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unsubscribe from newsletter by invite code
    # This method is responsible for unfollowing a WhatsApp Channel
    # @param newsletter_invite_code [String] Newsletter Invite Code
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def unsubscribe_newsletter_invite(newsletter_invite_code, opts = {})
      data, _status_code, _headers = unsubscribe_newsletter_invite_with_http_info(newsletter_invite_code, opts)
      data
    end

    # Unsubscribe from newsletter by invite code
    # This method is responsible for unfollowing a WhatsApp Channel
    # @param newsletter_invite_code [String] Newsletter Invite Code
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def unsubscribe_newsletter_invite_with_http_info(newsletter_invite_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.unsubscribe_newsletter_invite ...'
      end
      # verify the required parameter 'newsletter_invite_code' is set
      if @api_client.config.client_side_validation && newsletter_invite_code.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_invite_code' when calling NewslettersApi.unsubscribe_newsletter_invite"
      end
      pattern = Regexp.new(/^[A-Za-z0-9]{24}$/)
      if @api_client.config.client_side_validation && newsletter_invite_code !~ pattern
        fail ArgumentError, "invalid value for 'newsletter_invite_code' when calling NewslettersApi.unsubscribe_newsletter_invite, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/newsletters/invite/{NewsletterInviteCode}/subscription'.sub('{' + 'NewsletterInviteCode' + '}', CGI.escape(newsletter_invite_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"NewslettersApi.unsubscribe_newsletter_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#unsubscribe_newsletter_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
