=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class PresencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get presence
    # @param entry_id [GetPresenceEntryIDParameter] Contact or group id
    # @param [Hash] opts the optional parameters
    # @return [Presence]
    def get_presence(entry_id, opts = {})
      data, _status_code, _headers = get_presence_with_http_info(entry_id, opts)
      data
    end

    # Get presence
    # @param entry_id [GetPresenceEntryIDParameter] Contact or group id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Presence, Integer, Hash)>] Presence data, response status code and response headers
    def get_presence_with_http_info(entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PresencesApi.get_presence ...'
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling PresencesApi.get_presence"
      end
      # resource path
      local_var_path = '/presences/{EntryID}'.sub('{' + 'EntryID' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Presence'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PresencesApi.get_presence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PresencesApi#get_presence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send online or offline presence
    # @param [Hash] opts the optional parameters
    # @option opts [SendMePresenceRequest] :send_me_presence_request 
    # @return [CheckContactResponse]
    def send_me_presence(opts = {})
      data, _status_code, _headers = send_me_presence_with_http_info(opts)
      data
    end

    # Send online or offline presence
    # @param [Hash] opts the optional parameters
    # @option opts [SendMePresenceRequest] :send_me_presence_request 
    # @return [Array<(CheckContactResponse, Integer, Hash)>] CheckContactResponse data, response status code and response headers
    def send_me_presence_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PresencesApi.send_me_presence ...'
      end
      # resource path
      local_var_path = '/presences/me'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'send_me_presence_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CheckContactResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PresencesApi.send_me_presence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PresencesApi#send_me_presence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send typing or recording presence
    # @param entry_id [GetPresenceEntryIDParameter] Contact or group id
    # @param [Hash] opts the optional parameters
    # @option opts [SendPresenceRequest] :send_presence_request 
    # @return [CheckContactResponse]
    def send_presence(entry_id, opts = {})
      data, _status_code, _headers = send_presence_with_http_info(entry_id, opts)
      data
    end

    # Send typing or recording presence
    # @param entry_id [GetPresenceEntryIDParameter] Contact or group id
    # @param [Hash] opts the optional parameters
    # @option opts [SendPresenceRequest] :send_presence_request 
    # @return [Array<(CheckContactResponse, Integer, Hash)>] CheckContactResponse data, response status code and response headers
    def send_presence_with_http_info(entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PresencesApi.send_presence ...'
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling PresencesApi.send_presence"
      end
      # resource path
      local_var_path = '/presences/{EntryID}'.sub('{' + 'EntryID' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'send_presence_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CheckContactResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PresencesApi.send_presence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PresencesApi#send_presence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscribe to presence
    # @param entry_id [GetPresenceEntryIDParameter] Contact or group id
    # @param [Hash] opts the optional parameters
    # @return [CheckContactResponse]
    def subscribe_presence(entry_id, opts = {})
      data, _status_code, _headers = subscribe_presence_with_http_info(entry_id, opts)
      data
    end

    # Subscribe to presence
    # @param entry_id [GetPresenceEntryIDParameter] Contact or group id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckContactResponse, Integer, Hash)>] CheckContactResponse data, response status code and response headers
    def subscribe_presence_with_http_info(entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PresencesApi.subscribe_presence ...'
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling PresencesApi.subscribe_presence"
      end
      # resource path
      local_var_path = '/presences/{EntryID}'.sub('{' + 'EntryID' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckContactResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PresencesApi.subscribe_presence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PresencesApi#subscribe_presence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
