=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class StatusesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get message or story view statuses
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [StatusesList]
    def get_message_view_statuses(message_id, opts = {})
      data, _status_code, _headers = get_message_view_statuses_with_http_info(message_id, opts)
      data
    end

    # Get message or story view statuses
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusesList, Integer, Hash)>] StatusesList data, response status code and response headers
    def get_message_view_statuses_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusesApi.get_message_view_statuses ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling StatusesApi.get_message_view_statuses"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling StatusesApi.get_message_view_statuses, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/statuses/{MessageID}'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StatusesApi.get_message_view_statuses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusesApi#get_message_view_statuses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
