=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class StoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Copy story
    # @param message_id [String] Message ID
    # @param copy_stories [CopyStories] Stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def copy_story(message_id, copy_stories, opts = {})
      data, _status_code, _headers = copy_story_with_http_info(message_id, copy_stories, opts)
      data
    end

    # Copy story
    # @param message_id [String] Message ID
    # @param copy_stories [CopyStories] Stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def copy_story_with_http_info(message_id, copy_stories, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.copy_story ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling StoriesApi.copy_story"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling StoriesApi.copy_story, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'copy_stories' is set
      if @api_client.config.client_side_validation && copy_stories.nil?
        fail ArgumentError, "Missing the required parameter 'copy_stories' when calling StoriesApi.copy_story"
      end
      # resource path
      local_var_path = '/stories/{MessageID}'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(copy_stories)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.copy_story",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#copy_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create & publish story
    # The method responsible for sending images or texts to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_stories [SenderStories] Stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def create_story(sender_stories, opts = {})
      data, _status_code, _headers = create_story_with_http_info(sender_stories, opts)
      data
    end

    # Create &amp; publish story
    # The method responsible for sending images or texts to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_stories [SenderStories] Stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def create_story_with_http_info(sender_stories, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.create_story ...'
      end
      # verify the required parameter 'sender_stories' is set
      if @api_client.config.client_side_validation && sender_stories.nil?
        fail ArgumentError, "Missing the required parameter 'sender_stories' when calling StoriesApi.create_story"
      end
      # resource path
      local_var_path = '/stories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_stories)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.create_story",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#create_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🎵️ Post audio story
    # The method responsible for sending audio to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_stories_audio [SenderStoriesAudio] Stories post parameters for audio
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def create_story_audio(sender_stories_audio, opts = {})
      data, _status_code, _headers = create_story_audio_with_http_info(sender_stories_audio, opts)
      data
    end

    # 🎵️ Post audio story
    # The method responsible for sending audio to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param sender_stories_audio [SenderStoriesAudio] Stories post parameters for audio
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def create_story_audio_with_http_info(sender_stories_audio, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.create_story_audio ...'
      end
      # verify the required parameter 'sender_stories_audio' is set
      if @api_client.config.client_side_validation && sender_stories_audio.nil?
        fail ArgumentError, "Missing the required parameter 'sender_stories_audio' when calling StoriesApi.create_story_audio"
      end
      # resource path
      local_var_path = '/stories/send/audio'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_stories_audio)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.create_story_audio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#create_story_audio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 🖼 Post media story
    # The method responsible for sending images or video to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param media [SendMediaMedia] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mime_type Mime type of media
    # @option opts [Boolean] :no_encode Do not use our encoding
    # @option opts [Boolean] :no_cache Do not use the cache in a request
    # @option opts [String] :caption Optional. Text caption under the media.
    # @option opts [String] :preview Optional. Base64 encoded preview of the media. In JPEG format.
    # @option opts [Integer] :width Width of the media in pixels
    # @option opts [Integer] :height Height of the media in pixels
    # @option opts [Array<String>] :contacts List of contacts to send the story to
    # @option opts [Array<String>] :exclude_contacts List of contacts to exclude
    # @option opts [Boolean] :experimental Some untested improvements
    # @return [SentMessage]
    def create_story_media(media, opts = {})
      data, _status_code, _headers = create_story_media_with_http_info(media, opts)
      data
    end

    # 🖼 Post media story
    # The method responsible for sending images or video to your status. Remember that statuses disappear after 24 hours. The requirements for [sending all media types are identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
    # @param media [SendMediaMedia] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mime_type Mime type of media
    # @option opts [Boolean] :no_encode Do not use our encoding
    # @option opts [Boolean] :no_cache Do not use the cache in a request
    # @option opts [String] :caption Optional. Text caption under the media.
    # @option opts [String] :preview Optional. Base64 encoded preview of the media. In JPEG format.
    # @option opts [Integer] :width Width of the media in pixels
    # @option opts [Integer] :height Height of the media in pixels
    # @option opts [Array<String>] :contacts List of contacts to send the story to
    # @option opts [Array<String>] :exclude_contacts List of contacts to exclude
    # @option opts [Boolean] :experimental Some untested improvements
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def create_story_media_with_http_info(media, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.create_story_media ...'
      end
      # verify the required parameter 'media' is set
      if @api_client.config.client_side_validation && media.nil?
        fail ArgumentError, "Missing the required parameter 'media' when calling StoriesApi.create_story_media"
      end
      # resource path
      local_var_path = '/stories/send/media'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['media'] = media
      form_params['mime_type'] = opts[:'mime_type'] if !opts[:'mime_type'].nil?
      form_params['no_encode'] = opts[:'no_encode'] if !opts[:'no_encode'].nil?
      form_params['no_cache'] = opts[:'no_cache'] if !opts[:'no_cache'].nil?
      form_params['caption'] = opts[:'caption'] if !opts[:'caption'].nil?
      form_params['preview'] = opts[:'preview'] if !opts[:'preview'].nil?
      form_params['width'] = opts[:'width'] if !opts[:'width'].nil?
      form_params['height'] = opts[:'height'] if !opts[:'height'].nil?
      form_params['contacts'] = @api_client.build_collection_param(opts[:'contacts'], :csv) if !opts[:'contacts'].nil?
      form_params['exclude_contacts'] = @api_client.build_collection_param(opts[:'exclude_contacts'], :csv) if !opts[:'exclude_contacts'].nil?
      form_params['experimental'] = opts[:'experimental'] if !opts[:'experimental'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.create_story_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#create_story_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 💬 Post text story
    # The method responsible for sending texts to your status. Remember that statuses disappear after 24 hours.
    # @param sender_stories_text [SenderStoriesText] Text stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def create_story_text(sender_stories_text, opts = {})
      data, _status_code, _headers = create_story_text_with_http_info(sender_stories_text, opts)
      data
    end

    # 💬 Post text story
    # The method responsible for sending texts to your status. Remember that statuses disappear after 24 hours.
    # @param sender_stories_text [SenderStoriesText] Text stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def create_story_text_with_http_info(sender_stories_text, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.create_story_text ...'
      end
      # verify the required parameter 'sender_stories_text' is set
      if @api_client.config.client_side_validation && sender_stories_text.nil?
        fail ArgumentError, "Missing the required parameter 'sender_stories_text' when calling StoriesApi.create_story_text"
      end
      # resource path
      local_var_path = '/stories/send/text'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_stories_text)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.create_story_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#create_story_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete story
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def delete_story(message_id, opts = {})
      data, _status_code, _headers = delete_story_with_http_info(message_id, opts)
      data
    end

    # Delete story
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def delete_story_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.delete_story ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling StoriesApi.delete_story"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling StoriesApi.delete_story, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/stories/{MessageID}'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.delete_story",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#delete_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list of stories
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @option opts [Float] :time_from Timestamp from which to get objects
    # @option opts [Float] :time_to Timestamp up to which to get objects
    # @option opts [Boolean] :normal_types If false, include system messages
    # @option opts [String] :author To filter by author (Contact ID)
    # @option opts [Boolean] :from_me If true, only return messages sent by the authenticated user. If false, only return messages sent by other users.
    # @return [MessagesList]
    def get_stories(opts = {})
      data, _status_code, _headers = get_stories_with_http_info(opts)
      data
    end

    # Get list of stories
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :count Count of objects to return (default to 100)
    # @option opts [Float] :offset Offset of objects to return
    # @option opts [Float] :time_from Timestamp from which to get objects
    # @option opts [Float] :time_to Timestamp up to which to get objects
    # @option opts [Boolean] :normal_types If false, include system messages
    # @option opts [String] :author To filter by author (Contact ID)
    # @option opts [Boolean] :from_me If true, only return messages sent by the authenticated user. If false, only return messages sent by other users.
    # @return [Array<(MessagesList, Integer, Hash)>] MessagesList data, response status code and response headers
    def get_stories_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.get_stories ...'
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 500
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling StoriesApi.get_stories, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling StoriesApi.get_stories, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling StoriesApi.get_stories, must be greater than or equal to 0.'
      end

      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && !opts[:'author'].nil? && opts[:'author'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"author\"]' when calling StoriesApi.get_stories, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/stories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'time_from'] = opts[:'time_from'] if !opts[:'time_from'].nil?
      query_params[:'time_to'] = opts[:'time_to'] if !opts[:'time_to'].nil?
      query_params[:'normal_types'] = opts[:'normal_types'] if !opts[:'normal_types'].nil?
      query_params[:'author'] = opts[:'author'] if !opts[:'author'].nil?
      query_params[:'from_me'] = opts[:'from_me'] if !opts[:'from_me'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessagesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.get_stories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#get_stories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get story
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Message]
    def get_story(message_id, opts = {})
      data, _status_code, _headers = get_story_with_http_info(message_id, opts)
      data
    end

    # Get story
    # @param message_id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Message, Integer, Hash)>] Message data, response status code and response headers
    def get_story_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.get_story ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling StoriesApi.get_story"
      end
      pattern = Regexp.new(/^[A-Za-z0-9._]{4,23}-[A-Za-z0-9._]{4,14}(-[A-Za-z0-9._]{4,10})?(-[A-Za-z0-9._]{4,10})?$/)
      if @api_client.config.client_side_validation && message_id !~ pattern
        fail ArgumentError, "invalid value for 'message_id' when calling StoriesApi.get_story, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/stories/{MessageID}'.sub('{' + 'MessageID' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Message'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.get_story",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#get_story\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 💬 Send story text message
    # The method responsible for sending texts to your status. Remember that statuses disappear after 24 hours.
    # @param sender_stories_text [SenderStoriesText] Text stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [SentMessage]
    def send_message_story_text(sender_stories_text, opts = {})
      data, _status_code, _headers = send_message_story_text_with_http_info(sender_stories_text, opts)
      data
    end

    # 💬 Send story text message
    # The method responsible for sending texts to your status. Remember that statuses disappear after 24 hours.
    # @param sender_stories_text [SenderStoriesText] Text stories post parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentMessage, Integer, Hash)>] SentMessage data, response status code and response headers
    def send_message_story_text_with_http_info(sender_stories_text, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoriesApi.send_message_story_text ...'
      end
      # verify the required parameter 'sender_stories_text' is set
      if @api_client.config.client_side_validation && sender_stories_text.nil?
        fail ArgumentError, "Missing the required parameter 'sender_stories_text' when calling StoriesApi.send_message_story_text"
      end
      # resource path
      local_var_path = '/messages/story/text'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sender_stories_text)

      # return_type
      return_type = opts[:debug_return_type] || 'SentMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StoriesApi.send_message_story_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoriesApi#send_message_story_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
