=begin
#Whapi API

#Sending and receiving messages using HTTP requests. Fixed price with no hidden fees, without limits and restrictions. You will be able to send and receive text/media/files/locations/goods/orders/polls messages via WhatsApp in private or group chats. Guides and SDK can be found on our website.

The version of the OpenAPI document: 1.8.7
Contact: care@whapi.cloud
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module OpenapiClient
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # User info
    # The method allows you to get information about your WhatsApp profile
    # @param [Hash] opts the optional parameters
    # @return [UserProfile]
    def get_user_profile(opts = {})
      data, _status_code, _headers = get_user_profile_with_http_info(opts)
      data
    end

    # User info
    # The method allows you to get information about your WhatsApp profile
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserProfile, Integer, Hash)>] UserProfile data, response status code and response headers
    def get_user_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.get_user_profile ...'
      end
      # resource path
      local_var_path = '/users/profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.get_user_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_user_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login user with QR-base64
    # This method returns an image of the type base64. You can render this in a component of the type image that is compatible with the language that you use to program. Just like on WhatsApp Web you will need to read a QR code to connect to Whapi.Cloud. There are two ways that you can do the reading of the QR code. Connect through our dashboard panel or Make this experience available within your own application.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wakeup If set to false, the channel will not launch (default to true)
    # @option opts [Float] :size Size of QR-code
    # @option opts [Float] :width Width of result image
    # @option opts [Float] :height Height of result image
    # @option opts [String] :color_light Background color
    # @option opts [String] :color_dark Color of code
    # @return [QR]
    def login_user(opts = {})
      data, _status_code, _headers = login_user_with_http_info(opts)
      data
    end

    # Login user with QR-base64
    # This method returns an image of the type base64. You can render this in a component of the type image that is compatible with the language that you use to program. Just like on WhatsApp Web you will need to read a QR code to connect to Whapi.Cloud. There are two ways that you can do the reading of the QR code. Connect through our dashboard panel or Make this experience available within your own application.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wakeup If set to false, the channel will not launch (default to true)
    # @option opts [Float] :size Size of QR-code
    # @option opts [Float] :width Width of result image
    # @option opts [Float] :height Height of result image
    # @option opts [String] :color_light Background color
    # @option opts [String] :color_dark Color of code
    # @return [Array<(QR, Integer, Hash)>] QR data, response status code and response headers
    def login_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.login_user ...'
      end
      # resource path
      local_var_path = '/users/login'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wakeup'] = opts[:'wakeup'] if !opts[:'wakeup'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'width'] = opts[:'width'] if !opts[:'width'].nil?
      query_params[:'height'] = opts[:'height'] if !opts[:'height'].nil?
      query_params[:'color_light'] = opts[:'color_light'] if !opts[:'color_light'].nil?
      query_params[:'color_dark'] = opts[:'color_dark'] if !opts[:'color_dark'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QR'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.login_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#login_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login user with QR-image
    # This method returns an image. Just like on WhatsApp Web you will need to read a QR code to connect to Whapi.Cloud. There are two ways that you can do the reading of the QR code. Connect through our dashboard panel or Make this experience available within your own application.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wakeup If set to false, the channel will not launch (default to true)
    # @option opts [Float] :size Size of QR-code
    # @option opts [Float] :width Width of result image
    # @option opts [Float] :height Height of result image
    # @option opts [String] :color_light Background color
    # @option opts [String] :color_dark Color of code
    # @return [File]
    def login_user_image(opts = {})
      data, _status_code, _headers = login_user_image_with_http_info(opts)
      data
    end

    # Login user with QR-image
    # This method returns an image. Just like on WhatsApp Web you will need to read a QR code to connect to Whapi.Cloud. There are two ways that you can do the reading of the QR code. Connect through our dashboard panel or Make this experience available within your own application.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wakeup If set to false, the channel will not launch (default to true)
    # @option opts [Float] :size Size of QR-code
    # @option opts [Float] :width Width of result image
    # @option opts [Float] :height Height of result image
    # @option opts [String] :color_light Background color
    # @option opts [String] :color_dark Color of code
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def login_user_image_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.login_user_image ...'
      end
      # resource path
      local_var_path = '/users/login/image'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wakeup'] = opts[:'wakeup'] if !opts[:'wakeup'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'width'] = opts[:'width'] if !opts[:'width'].nil?
      query_params[:'height'] = opts[:'height'] if !opts[:'height'].nil?
      query_params[:'color_light'] = opts[:'color_light'] if !opts[:'color_light'].nil?
      query_params[:'color_dark'] = opts[:'color_dark'] if !opts[:'color_dark'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['image/png', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.login_user_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#login_user_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login user with QR-rowdata
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wakeup If set to false, the channel will not launch (default to true)
    # @return [QR]
    def login_user_row_data(opts = {})
      data, _status_code, _headers = login_user_row_data_with_http_info(opts)
      data
    end

    # Login user with QR-rowdata
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :wakeup If set to false, the channel will not launch (default to true)
    # @return [Array<(QR, Integer, Hash)>] QR data, response status code and response headers
    def login_user_row_data_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.login_user_row_data ...'
      end
      # resource path
      local_var_path = '/users/login/rowdata'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wakeup'] = opts[:'wakeup'] if !opts[:'wakeup'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QR'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.login_user_row_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#login_user_row_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get auth code by phone number
    # This method returns a code that allows you to connect the phone number to the API without the need to scan a QR code, simply by entering the generated code.
    # @param phone_number [String] Phone number without + and spaces, only digits
    # @param [Hash] opts the optional parameters
    # @return [AuthCode]
    def login_user_via_auth_code(phone_number, opts = {})
      data, _status_code, _headers = login_user_via_auth_code_with_http_info(phone_number, opts)
      data
    end

    # Get auth code by phone number
    # This method returns a code that allows you to connect the phone number to the API without the need to scan a QR code, simply by entering the generated code.
    # @param phone_number [String] Phone number without + and spaces, only digits
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthCode, Integer, Hash)>] AuthCode data, response status code and response headers
    def login_user_via_auth_code_with_http_info(phone_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.login_user_via_auth_code ...'
      end
      # verify the required parameter 'phone_number' is set
      if @api_client.config.client_side_validation && phone_number.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number' when calling UsersApi.login_user_via_auth_code"
      end
      pattern = Regexp.new(/^([\d]{7,15})?$/)
      if @api_client.config.client_side_validation && phone_number !~ pattern
        fail ArgumentError, "invalid value for 'phone_number' when calling UsersApi.login_user_via_auth_code, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/users/login/{PhoneNumber}'.sub('{' + 'PhoneNumber' + '}', CGI.escape(phone_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthCode'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.login_user_via_auth_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#login_user_via_auth_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login in whatsapp with phone number
    # Allows you to register a number on WhatsApp. Requires mandatory use of mobile proxies!
    # @param request_mobile_login [RequestMobileLogin] Request body for login mobile
    # @param [Hash] opts the optional parameters
    # @return [MobileLoginStatus]
    def login_user_via_mobile(request_mobile_login, opts = {})
      data, _status_code, _headers = login_user_via_mobile_with_http_info(request_mobile_login, opts)
      data
    end

    # Login in whatsapp with phone number
    # Allows you to register a number on WhatsApp. Requires mandatory use of mobile proxies!
    # @param request_mobile_login [RequestMobileLogin] Request body for login mobile
    # @param [Hash] opts the optional parameters
    # @return [Array<(MobileLoginStatus, Integer, Hash)>] MobileLoginStatus data, response status code and response headers
    def login_user_via_mobile_with_http_info(request_mobile_login, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.login_user_via_mobile ...'
      end
      # verify the required parameter 'request_mobile_login' is set
      if @api_client.config.client_side_validation && request_mobile_login.nil?
        fail ArgumentError, "Missing the required parameter 'request_mobile_login' when calling UsersApi.login_user_via_mobile"
      end
      # resource path
      local_var_path = '/users/login/mobile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_mobile_login)

      # return_type
      return_type = opts[:debug_return_type] || 'MobileLoginStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.login_user_via_mobile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#login_user_via_mobile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Logout user
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def logout_user(opts = {})
      data, _status_code, _headers = logout_user_with_http_info(opts)
      data
    end

    # Logout user
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def logout_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.logout_user ...'
      end
      # resource path
      local_var_path = '/users/logout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.logout_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#logout_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update user info
    # This method is responsible for changing the details of your WhatsApp profile
    # @param user_profile_update [UserProfileUpdate] Change user profile
    # @param [Hash] opts the optional parameters
    # @return [ResponseSuccess]
    def update_user_profile(user_profile_update, opts = {})
      data, _status_code, _headers = update_user_profile_with_http_info(user_profile_update, opts)
      data
    end

    # Update user info
    # This method is responsible for changing the details of your WhatsApp profile
    # @param user_profile_update [UserProfileUpdate] Change user profile
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseSuccess, Integer, Hash)>] ResponseSuccess data, response status code and response headers
    def update_user_profile_with_http_info(user_profile_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.update_user_profile ...'
      end
      # verify the required parameter 'user_profile_update' is set
      if @api_client.config.client_side_validation && user_profile_update.nil?
        fail ArgumentError, "Missing the required parameter 'user_profile_update' when calling UsersApi.update_user_profile"
      end
      # resource path
      local_var_path = '/users/profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_profile_update)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.update_user_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#update_user_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
